<ion-scroll scrollX="true" class="contacts-list">
  <ion-card (click)="add()" class="add-item" [class.active]="selectedAddress == 'add'">
    <ion-card-content text-wrap text-center>
      <div class="circle-letter">+</div>
      <h5 class="card-title">{{ 'Add Contact' | translate }}</h5>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let contact of contacts" [class.active]="selectedAddress == contact.address" (click)="select(contact)" class="contact-item">
    <ion-card-content text-wrap text-center>
      <div class="circle-letter">{{ contact?.name?.charAt(0) }}</div>
      <h5 class="card-title">{{ contact?.name }}</h5>
    </ion-card-content>
  </ion-card>
</ion-scroll>
