swipe-contacts {
  ion-scroll {
    white-space: nowrap;
    margin-top: 1em;

    .scroll-content {
      height: 150px;
      padding: 0!important;
    }
  }

  ion-card {
    margin: .5em .5em .5em .2em!important;
    border-radius: 5px!important;
    width: 32vw!important;
    padding: 1.5em .8em;
    display: inline-block;
    vertical-align: middle;
    background: transparent!important;
    border: 1px solid #aaa;
    box-shadow: none!important;

    .card-content {
      padding: 0
    }

    .card-title {
      margin-top: .7em;
    }

    &.active {
      border-color:color($colors, primary, base);
      background: color($colors, primary, base)!important;
      box-shadow: 0px 1px 4px 1px rgba(52,95,242,0.4)!important;

      .card-content .card-title {
        color: white!important;
      }

      .circle-letter {
        background-color:lighten(color($colors, primary, base), 10%)!important;
      }
    }
  }

  .add-item {

    .circle-letter {
      font-size: 14pt;
    }

    .card-title {
      font-weight: 500;
    }
  }
}
