page-profile-signin {
  ion-list {
    .item {
      padding: .5em 0;
    }

    p {
      text-transform: capitalize;
    }
  }
  .circle-letter {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background: #b6c4cc;
    &.mainnet {
      background: #ed2a2d;
    }
  }
}
