<!--
  Generated template for the ProfileSigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Sign In' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openProfileCreate()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-item-sliding *ngFor="let id of profilesIds">
      <ion-item>
        <ion-avatar>
          M
        </ion-avatar>
        <h2>{{ profiles[id].name }}</h2>
        <p>{{ networks[profiles[id].networkId].name }}</p>
      </ion-item>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="delete(id)">
          <ion-icon name="trash"></ion-icon>
          {{ 'Delete' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <button ion-item clear *ngIf="isEmpty()" (click)="openProfileCreate()">
      {{ 'Create an profile' | translate }}
    </button>
  </ion-list>
</ion-content>
