<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Sign In' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openProfileCreate()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list padding>
    <ion-item-sliding *ngFor="let id of profilesIds">
      <button ion-item (click)="signin(id)">
        <div class="circle-letter" [ngClass]="(isMainnet(id)) ? 'mainnet' : ''" item-start>
          {{ getNetworkName(id)?.charAt(0) }}
        </div>
        <h2>{{ profiles[id]?.name }}</h2>
        <p>{{ getNetworkName(id) }}</p>
      </button>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="showDeleteConfirm(id)">
          <ion-icon name="trash"></ion-icon>
          {{ 'Delete' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <button ion-item clear *ngIf="isEmpty()" (click)="openProfileCreate()">
      {{ 'Create an profile' | translate }}
    </button>
  </ion-list>
</ion-content>
