<ion-header no-shadow no-border>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'TRANSACTIONS_PAGE.TRANSACTION' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showOptions" (click)="presentOptions()">
        <ion-icon slot="icon-only" [name]="platform.is('ios') ? 'ios-more' : 'md-more'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="text-center">
        <div>
          <span>{{ transaction?.getTypeLabel() | translate }}</span>
          <ion-text [color]="transaction.isSender() ? 'danger' : 'secondary'">
            {{ transaction?.isSender() ? '-' : '+' }} {{ transaction?.getAmount() | unitsSatoshi }} {{ currentNetwork?.token }}
          </ion-text>
        </div>
        <div>
          <h4 appMarketNetOnly>{{ equivalentSymbol }}{{ equivalentAmount | marketNumber }}</h4>
        </div>
        <div>
          <ion-button
            fill="clear"
            *ngIf="currentNetwork?.explorer"
            (click)="openInExplorer()"
            class="open-explorer-btn"
          >
            {{ 'TRANSACTIONS_PAGE.OPEN_EXPLORER' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="mt-4">
      <ion-col class="text-left">
        <ion-list lines="none" class="list-selectable">
          <ion-item *ngIf="transaction?.recipientId">
            <ion-label>
              <div class="item-title">{{ 'TRANSACTIONS_PAGE.TO' | translate }}</div>
              <h3 class="whitespace-normal">
                <span *ngIf="transaction?.recipientId | hasAccountLabel" class="font-semibold block">
                  {{ transaction?.recipientId | accountLabel }}
                </span>
                {{ transaction?.recipientId }}
              </h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>{{ 'TRANSACTIONS_PAGE.FROM' | translate }}</h4>
              <h3 class="whitespace-normal">
                <span *ngIf="transaction?.senderId | hasAccountLabel" class="font-semibold block">
                  {{ transaction?.senderId | accountLabel }}
                </span>
                {{ transaction?.senderId }}
              </h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h4>{{ 'DATE' | translate}}</h4>
              <h3>
                {{ transaction?.date | timezone | date: 'dd.MM.yy | hh:mm a' }}
              </h3>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              <h3>{{ 'TRANSACTIONS_PAGE.SMART_BRIDGE' | translate }}</h3>
              <h4 class="whitespace-normal">
                {{ transaction?.vendorField || 'N/A' }}
              </h4>
            </ion-label>
          </ion-item>
          <ion-item class="ion-text-wrap">
            <ion-label position="stacked">
              <ion-text>{{ 'TRANSACTIONS_PAGE.CONFIRMATIONS' | translate }}</ion-text>
              <h4 class="content">
                {{ transaction?.confirmations }}
              </h4>
            </ion-label>
          </ion-item>
          <ion-item class="ion-text-wrap">
            <ion-label position="stacked">
              <ion-text>{{ 'TRANSACTIONS_PAGE.ID' | translate }}</ion-text>

            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
