<ion-header mode="ios" class="ion-no-border ion-padding">
	<ion-toolbar class="p-0">
		<ion-buttons slot="start">
			<!-- <ion-back-button></ion-back-button> -->
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen data-testid="wallet-details">
	<div class="w-full h-full wallet-details">
		<div class="wallet-details__header">
			<div
				class="flex flex-col ion-padding items-center wallet-details__info"
			>
				<identicon
					value="address"
					class="w-16 h-16 mt-10 mb-5"
				></identicon>
				<span>{{ address }}</span>
				<p
					class="text-3xl xs:text-3xl md:text-3xl font-bold"
					data-testid="wallet-list-header__balance"
				>
					{{ balance | unitsSatoshi }}
					{{ coinConfig[currency].symbol | uppercase }}
				</p>
				<p
					class="text-sm"
					data-testid="wallet-list-header__converted-balance"
				>
					{{ convertWalletBalance(balance) }} {{ currencySymbol }}
				</p>
			</div>
		</div>
		<div
			class="absolute bottom-0 w-full ion-padding flex flex-col h-56 max-h-full overflow-hidden wallet-details__transaction-list"
		>
			<div
				class="wallet-details__transaction-list--grip w-full flex justify-center"
			>
				<div></div>
			</div>
			<transaction-list class="w-full"></transaction-list>
		</div>
	</div>
</ion-content>
