<div
	class="c-delegates-list p-4"
	[class.c-delegates-list--expanded]="showIdenticon"
>
	<div class="c-delegates-list__item c-delegates-list__item--header">
		<ion-text color="medium" class="font-semibold text-sm">#</ion-text>
		<ion-text
			color="medium"
			class="font-semibold text-sm c-delegates-list__item--header__name"
		>
			Name
		</ion-text>
	</div>
	<ion-virtual-scroll [items]="delegates">
		<div *virtualItem="let delegate">
			<button
				class="w-full focus:outline-none hover:bg-gray-100 focus:bg-gray-100"
				(click)="handleClick(delegate)"
			>
				<div class="c-delegates-list__item">
					<ion-text color="dark" class="c-delegates-list__item__rank">
						{{ delegate.rank }}
					</ion-text>
					<identicon
						[value]="delegate.username"
						class="c-delegates-list__item__identicon w-10 h-10"
					></identicon>
					<ion-text
						color="dark"
						class="c-delegates-list__item__username font-semibold"
					>
						{{ delegate.username }}
					</ion-text>
				</div>
			</button>
		</div>
	</ion-virtual-scroll>
</div>
