<ion-content>
  <close-popup color="dark" (onClose)="dismiss()"></close-popup>
  <ion-grid class="no-padding">
    <ion-row class="header-row">
      <ion-col text-center padding align-self-end class="header-toolbar">
        <h3 class="amount" ion-text color="primary">{{ transaction?.getAmount() | unitsSatoshi }} {{ currentNetwork?.symbol }}</h3>
        <p appMainnetOnly>{{ marketCurrency?.symbol }}{{ transaction?.getAmountEquivalent(marketCurrency, ticker) | marketNumber }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding>
        <ion-list class="list-selectable">
          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.FROM' | translate }}</p>
              <h6 ion-content>{{ address | accountLabel }}
                <span *ngIf="(address | accountLabel) != address">
                  {{address}}
                </span>
              </h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap *ngIf="transaction?.type == 0">
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.RECIPIENT' | translate }}</p>
              <h6 ion-content>{{ transaction?.recipientId | accountLabel }}
                <span *ngIf="(transaction?.recipientId  | accountLabel) != transaction?.recipientId">
                  {{transaction?.recipientId}}
                </span>
              </h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TYPE' | translate }}</p>
              <h6 ion-content>{{ transaction?.getTypeLabel() | translate }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.AMOUNT' | translate }}</p>
              <h6 ion-content>{{ transaction?.amount | unitsSatoshi }} {{ currentNetwork?.symbol }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.FEE' | translate }}</p>
              <h6 ion-content>{{ transaction?.fee | unitsSatoshi }} {{ currentNetwork?.symbol }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.SMART_BRIDGE' | translate }}</p>
              <h6 ion-content>{{ transaction?.vendorField || 'N/A' }}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center padding>
  <button ion-button color="primary" class="button-continue" (click)="broadcast()">{{ 'TRANSACTIONS_PAGE.SEND' | translate }}</button>
</ion-footer>
