<ion-content>
  <close-popup color="dark" (onClose)="dismiss()"></close-popup>
  <ion-grid class="no-padding">
    <ion-row class="header-row">
      <ion-col text-center padding align-self-end class="header-toolbar">
        <h3 class="amount">{{ transaction?.getAmount() | unitsSatoshi }} {{ currentNetwork?.symbol }}</h3>
        <p appMarketNetOnly>{{ marketCurrency?.symbol }}{{ transaction?.getAmountEquivalent(marketCurrency, ticker) | marketNumber }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col padding>
        <ion-list class="list-selectable">
          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.FROM' | translate }}</p>
              <h6 ion-content class="account">
                <span *ngIf="address | hasAccountLabel" class="account-label">
                  {{ address | accountLabel }}
                </span>
                <span>
                  {{address}}
                </span>
              </h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap *ngIf="transaction?.type == 0">
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.RECIPIENT' | translate }}</p>
              <h6 ion-content class="account">
                <span *ngIf="transaction?.recipientId | hasAccountLabel" class="account-label">
                  {{ transaction?.recipientId | accountLabel }}
                </span>
                <span>
                  {{transaction?.recipientId}}
                </span>
                <span *ngIf="addressCheckResult && addressCheckResult.message" class="address-checker">
                  <ion-icon [name]="addressCheckResult.icon"></ion-icon>
                  <span>
                    {{ addressCheckResult.message.key | translate:addressCheckResult.message.parameters }}
                  </span>
                </span>
              </h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TYPE' | translate }}</p>
              <h6 ion-content>{{ transaction?.getTypeLabel() | translate }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.AMOUNT' | translate }}</p>
              <h6 ion-content>{{ transaction?.amount | unitsSatoshi }} {{ currentNetwork?.symbol }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.FEE' | translate }}</p>
              <h6 ion-content>{{ transaction?.fee | unitsSatoshi }} {{ currentNetwork?.symbol }}</h6>
            </ion-label>
          </ion-item>

          <ion-item no-lines text-wrap>
            <ion-label stacked>
              <p>{{ 'TRANSACTIONS_PAGE.SMART_BRIDGE' | translate }}</p>
              <h6 ion-content>{{ transaction?.vendorField || 'N/A' }}</h6>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer text-center padding>
  <button ion-button
          class="button-continue"
          (click)="broadcast()"
          [disabled]="hasBroadcast || addressCheckResult?.type === checkTypes.Error">
    {{ 'TRANSACTIONS_PAGE.SEND' | translate }}
  </button>
</ion-footer>
