modal-confirm-transaction {
  ion-content {
    background: color($colors, secondary-background, base)!important;
  }

  .header-row {
    background: color($colors, primary-background, base)!important;
  }

  .header-toolbar {

    &:after {
      background-image: url('../assets/img/light/transaction/send-confirm.png');
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center center;
      opacity: .1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
    }

    .amount {
      margin-top: 1rem!important;
    }
  }

  h6 {
    span {
      display: block;
      font-size: .75em
    }
  }
}
