page-wallet-generate-entropy {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 2em 1em;
    }
    ion-row {
      flex: 1;
    }
    img {
      pointer-events: none;
      display: block;
      margin: 3em auto;
      width: 18em;
      height: 14em;
    }
    h5 {
      margin: 2em auto;
    }
  }
}
