page-login {
  ion-content {
    background: url('../assets/img/light/login/login-pattern.png') repeat;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: top center;

    .image-container {
      overflow: hidden;
      display: inline-block;
      position: relative;
      padding-bottom: 0;
    }

    .slogan-container {
      padding-top: 0;

      .app-name {
        font-weight: 600;
      }

      .app-description {
        padding-top: 0;
        margin-top: 0;
      }
    }

    .button-md.create-profile-btn {
      font-size: 1.3rem;
    }

    .image-logo {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      max-height: 100%;
      max-width: 55%;
      transform: translate(-50%, -50%);
    }
  } 
}

.dark-theme {
  page-login {
    ion-content {
      background: url('../assets/img/dark/login/login-pattern.png') repeat;
      background-size: contain;
      background-repeat:no-repeat;
      background-position: top center;
      background-color: color($darkColors, primary-background, base);
    }
  }
}
