<div
	class="mb-4 w-full lg:flex card c-wallet-card"
	data-testid="c-wallet-card"
	(click)="openWalletDetailsHandler(address)"
>
	<div class="w-full leading-normal">
		<div class="flex items-center justify-between">
			<div class="flex flex-1 items-center">
				<div
					class="c-wallet-card--img flex justify-center items-center mr-5"
					[style.background-color]="getBackgroundColor(currency)"
					data-testid="c-wallet-card--img"
				>
					<img
						class="c-wallet-coin--img"
						data-testid="c-wallet-coin--img"
						[src]="'assets/img/coins/' + currency + '.png'"
					/>
				</div>
				<div>
					<p
						class="c-wallet-card--name text-xs font-semibold"
						data-testid="c-wallet-card--name"
					>
						{{ name }}
					</p>
					<p
						class="font-bold text-base"
						data-testid="c-wallet-card--balance"
					>
						{{ balance | unitsSatoshi }} {{ currency | uppercase }}
					</p>
				</div>
			</div>
		</div>
		<div class="flex items-center"></div>
	</div>
</div>
