.c-wallet-card--name {
	color: var(--ion-color-medium-tint);
	font-weight: 600;
}

.c-wallet-card--img {
	width: 60px;
	height: 60px;
	border-radius: 10px;
	&.btc {
		background-color: #f9e7ce;
	}
	&.ark {
		background-color: #c9292c;
	}
}

.c-wallet-coin--img {
	height: 30px;
}
