page-transaction-show {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 1em;
    }
    ion-row {
      padding: 1em 0;
    }
    .item {
      user-select: auto !important;
      padding: .5em 0;
      border-bottom: 1px solid #eee!important;

      p {
        color: #495b71;
        font-weight: 600;
      }
      .content {
        margin-top: 5px;
      }
    }
  }
}
