page-register-delegate {
  ion-header {
    background: color($colors, primary-background, base)!important;
  }

  ion-content {
    background: color($colors, secondary-background, base)!important;
  }
}
