page-transaction-send {
  .swipe-contacts {
    display: block;
    height: 150px;
  }

  .item {
    padding-left: 0;
    background: transparent!important;
  }

  .amount-container {
    .col:first-child {
      margin-right: 1em;
    }
  }
}
