<ion-header no-shadow no-border>

  <ion-navbar>
    <h6 class="no-padding no-margin" text-center>{{ 'TRANSACTIONS_PAGE.SEND_TRANSACTION' | translate }}</h6>
    <ion-buttons end>
      <button ion-button (click)="sendAll()">{{ 'TRANSACTIONS_PAGE.SEND_ALL' | translate }}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce class="outer-content">
  <form>
    <ion-grid class="full-height" padding [ngClass]="{'qr-preview': showingQrScanner}">
      <ion-row>
        <ion-col>
          <ion-label>{{ 'TRANSACTIONS_PAGE.SEND_TO' | translate }}:</ion-label>
          <swipe-contacts class="swipe-contacts" (onSelectContact)="selectContact($event)"></swipe-contacts>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showAddContact">
        <ion-col>
          <ion-item>
            <ion-label stacked>{{ 'WALLETS_PAGE.ADDRESS' | translate }}</ion-label>
            <ion-input type="text" name="recipientAddress" [(ngModel)]="transaction.recipientAddress" required></ion-input>
            <img src="./assets/img/wallet/qr-code-button.png" width="30" height="30" (click)="scanQRCode()" item-right />
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="showAddContact">
        <ion-col>
          <ion-item>
            <ion-label stacked>{{ 'TRANSACTIONS_PAGE.RECIPIENT_NAME' | translate }}</ion-label>
            <ion-input type="text" name="recipientName" [(ngModel)]="transaction.recipientName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-grid no-padding class="amount-container">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label stacked>{{ currentNetwork?.token }}</ion-label>
                  <ion-input type="number" step="0.00000001" min="0.00000001" max="10000000000" name="amount" [(ngModel)]="transaction.amount" (input)="onInputToken()" required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-label stacked>{{ marketCurrency?.code | uppercase }}</ion-label>
                  <ion-input type="number" step="0.01" min="0.00000001" max="10000000000" name="amountEquivalent" [(ngModel)]="transaction.amountEquivalent" (input)="onInputFiat()" required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>{{ 'TRANSACTIONS_PAGE.SMART_BRIDGE' | translate }}</ion-label>
            <ion-input type="text" name="transaction.smartBridge" [(ngModel)]="transaction.smartBridge" maxlength="60"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer padding no-shadow no-border class="hide-on-keyboard-open">
  <button ion-button class="button-continue" (click)="send()">{{ 'TRANSACTIONS_PAGE.SEND' | translate }}</button>
</ion-footer>

<pin-code [wallet]="currentWallet" (onSuccess)="onEnterPinCode($event)" #pinCode></pin-code>
<confirm-transaction [wallet]="currentWallet" #confirmTransaction></confirm-transaction>
<qr-scanner (onSuccess)="onScanQRCode($event)" #qrScanner></qr-scanner>
