dist: trusty
sudo: false

language: node_js
node_js:
  - "8"

cache:
  directories:
     - ./node_modules

install:
  - npm install

script:
  - npm run lint  --bailOnLintError true
  - npm run build -- --prod
