page-wallet-import {
  .image {
    display: block;
    margin: 2em auto;
    width: 10em;
    max-height: 100%;
    content: url('../assets/img/light/wallet/qr-code.png');
  }

  .qr-preview {
    background: transparent;
  }

  .qr-preview-hide {
    display: none;
  }
}

.dark-theme {
  page-wallet-import {
    .image {
      content: url('../assets/img/dark/wallet/qr-code.png');
    }
  }
}
