ion-button {
	font-weight: bold;
	&.wallet-passphrase-check__words--suggestion {
		color: var(--ion-text-color);
		--border-color: var(--ion-color-medium);
	}
	&.verified {
		--border-color: transparent;
		--background: rgba(var(--ion-color-success-rgb), 0.2);
		color: var(--ion-color-success);
	}
}
