page-transaction-response {

  img {
    display: block;
    margin: 1em auto;
    max-width: 70%;
    height: auto;
  }

  .success-container {
    .row {
      flex: 1 auto;
    }
  }

  .copy-txid-btn {
    margin: 1em auto;
    display: block;
  }
}
