.transaction-row__type--sent {
	border: 1px solid var(--ion-color-danger);
}

.transaction-row__type--received {
	border: 1px solid var(--ion-color-success);
}

.transaction-row__amount {
	@apply font-bold text-base;
	margin-top: 0.4rem;
	display: flex;
	&.transaction-row__amount--received {
		&::before {
			content: "+";
		}
	}

	&.transaction-row__amount--sent {
		color: var(--ion-color-danger);
		&::before {
			content: "-";
		}
	}
}
