.sent {
	border: 1px solid var(--ion-color-danger);
}

.received {
	border: 1px solid var(--ion-color-success);
}

.transaction-row__amount {
	@apply font-bold text-base;
	margin-top: 0.4rem;
	display: flex;
	&.transaction-row__amount::before {
		content: "+";
	}
	&.amount-sent {
		color: var(--ion-color-danger);
		&.amount-sent::before {
			content: "-";
		}
	}
}
