.c-network-card {
	border: 1px solid var(--ion-color-medium-tint);
}

.c-network-card--type {
	color: var(--ion-color-medium-tint);
	text-transform: capitalize;
}

.c-network-card--img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
}

ion-checkbox {
	--border-color-checked: transparent;
	--height: 25px;
	--width: 25px;
	--checkmark-width: 3px;
	--checkmark-color: var(--ion-color-success-shade);
	--background-checked: rgba(var(--ion-color-success-rgb), 0.2);
}
