<ion-content no-bounce tappable>
  <ion-grid class="no-padding">
    <ion-row>
      <ion-col class="no-padding">
        <ion-toolbar class="info-toolbar">
          <close-popup color="light" large="true" (onClose)="dismiss()"></close-popup>
          <h3 class="username">{{ delegate?.username }}</h3>
          <ark-qr-code [address]="delegate?.address" size="100"></ark-qr-code>
          <h5 class="address" (click)="copyAddress()">{{ delegate?.address | truncateMiddle: 20 }}</h5>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <ion-row class="details" align-items-center justify-content-around>
      <ion-col>
        <ion-item no-lines text-wrap>
          <ion-label stacked>
            <p>{{ 'DELEGATES_PAGE.RANK' | translate }} / {{ 'STATUS' | translate }}</p>
            <h4 item-content class="content">
              {{ delegate?.rate }} / {{ (delegate?.rate <= 51 ? 'DELEGATES_PAGE.ACTIVE' : 'DELEGATES_PAGE.STANDBY') | translate }}
            </h4>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-lines text-wrap>
          <ion-label stacked>
            <p>{{ 'DELEGATES_PAGE.APPROVAL' | translate }}</p>
            <h4 item-content class="content">
              {{ delegate?.approval }}%
            </h4>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item no-lines text-wrap>
          <ion-label stacked>
            <p>{{ 'DELEGATES_PAGE.UPTIME' | translate }}</p>
            <h4 item-content class="content">
              {{ delegate?.productivity }}%
            </h4>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="no-padding" no-shadow no-border>
  <ion-grid class="no-padding">
    <ion-row *ngIf="isWalletSelected()">
      <ion-col text-center padding>
        <button ion-button (click)="submit()" color="primary" [disabled]="!isWalletSelected()" class="button-continue">{{ (isSameDelegate() ? 'DELEGATES_PAGE.UNVOTE' : 'DELEGATES_PAGE.VOTE') | translate }} ({{ currentNetwork?.symbol }}{{ fees?.vote | unitsSatoshi }})</button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isWalletSelected()" class="note-toolbar">
      <ion-col text-center>
        {{ 'DELEGATES_PAGE.WARNING_SELECT_WALLET_FIRST' | translate }}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
