<div class="h-full">
	<div class="w-8 h-1 rounded-md mx-auto bg-gray-400 mt-2 mb-4"></div>
	<auth-locked
		*ngIf="unlockTimestamp$ | async as remainingSeconds; else unlocked"
		[remainingSeconds]="remainingSeconds"
	></auth-locked>

	<ng-template #unlocked>
		<ion-tabs>
			<ion-tab-bar slot="bottom" *ngIf="isTouchAvailable$ | async">
				<ion-tab-button tab="pin">
					<ion-icon name="apps"></ion-icon>
					<ion-label>Numeric</ion-label>
				</ion-tab-button>

				<ion-tab-button tab="touch-id">
					<ion-icon name="finger-print"></ion-icon>
					<ion-label>Digital</ion-label>
				</ion-tab-button>
			</ion-tab-bar>
		</ion-tabs>
	</ng-template>
</div>
