<div
	class="flex-1 flex flex-col h-full w-full"
	*ngIf="activeMethod$ | async as activeMethod"
>
	<div class="w-8 h-1 rounded-md mx-auto bg-gray-400 mt-2 mb-4"></div>
	<div class="flex-1">
		<ng-template [ngIf]="remainingSeconds" [ngIfElse]="unlocked">
			<auth-locked [remainingSeconds]="remainingSeconds"></auth-locked>
		</ng-template>

		<ng-template #unlocked>
			<auth-pin *ngIf="activeMethod === methods[0]"></auth-pin>
			<auth-touch-id *ngIf="activeMethod === methods[1]"></auth-touch-id>
		</ng-template>
	</div>

	<ion-footer
		mode="ios"
		*ngIf="!remainingSeconds && (isTouchAvailable$ | async)"
	>
		<ion-segment
			[scrollable]="true"
			[value]="activeMethod"
			mode="md"
			class="bg-transparent w-full"
			(ionChange)="onSegmentChanged($event)"
		>
			<ion-segment-button
				[value]="methods[0]"
				class="capitalize max-w-none"
			>
				<ion-icon name="apps"></ion-icon>
				<ion-label>Numeric</ion-label>
			</ion-segment-button>
			<ion-segment-button
				[value]="methods[1]"
				class="capitalize max-w-none"
			>
				<ion-icon name="finger-print"></ion-icon>
				<ion-label>Digital</ion-label>
			</ion-segment-button>
		</ion-segment>
	</ion-footer>
</div>
