<ion-content class="h-full ion-padding">
	<ion-grid class="h-full flex flex-col justify-center items-center">
		<div>
			<ion-text color="dark" class="text-center">
				<p
					class="text-3xl xs:text-4xl md:text-5xl font-bold"
					data-testid="wallets-empty-list--username"
				>
					Hi, {{ name }}!
				</p>
				<p
					class="leading-normal text-sm xs:text-base md:text-lg text-medium mt-2 px-4"
				>
					{{ message | translate }}
				</p>
			</ion-text>
		</div>
		<div class="ion-padding justify-center items-center">
			<ion-button
				color="primary-light"
				(click)="generateWalletHandler()"
				data-testid="wallets-empty-list__button--generate"
			>
				<ion-icon
					size="small"
					slot="icon-only"
					name="add-sharp"
				></ion-icon>
			</ion-button>
			<ion-button
				color="primary-light"
				(click)="importWalletHandler()"
				data-testid="wallets-empty-list__button--import"
			>
				<ion-icon
					size="small"
					slot="icon-only"
					name="download-sharp"
				></ion-icon>
			</ion-button>
		</div>
	</ion-grid>
</ion-content>
