page-wallet-import-passphrase {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    padding: 0;
    height: 100%;
  }
  .grid {
    padding: 2em 1em;
  }
  ion-row {
    flex: 1;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 18em;
    height: 10em;
  }
}
