<ion-header>

  <ion-navbar no-border class="dark-navbar">
    <h6 class="no-padding no-margin" text-center>{{ 'WALLETS_PAGE.CREATE_WALLET' | translate }}</h6>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close" color="light"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>
  <ion-grid padding class="dark-navbar">
    <ion-row>
      <ion-col text-center>
        <p class="sole-message">{{ 'PASSPHRASE_TEST.INFO' | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row class="account-container">
      <ion-col>
          <form #wordsForm="ngForm">
            <ng-container *ngFor="let word of words">
              <ion-item>
                <ion-label floating>{{ 'WORD' | translate }} {{word.number}}</ion-label>
                <ion-input type="text"
                           [name]="'word_' + word.number"
                           [(ngModel)]="word.userValue"
                           (keyup)="word.isUserTyped = true"
                           required
                           autocapitalize="none">
                </ion-input>
              </ion-item>
              <ion-item class="no-border">
                <p class="error-message" *ngIf="word.hasUIError">{{ 'PASSPHRASE_TEST.WRONG_WORD' | translate }}</p>
              </ion-item>
            </ng-container>
          </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div text-center>
          <button ion-button class="button-continue" (click)="next()" [disabled]="!wordsForm.valid || !areAllWordsCorrect()">
            {{ 'NEXT' | translate }}
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
