page-contact-create {
  ion-item.item-address {
    .input-cover {
      display: none;
    }

    .qr-container {
      height: 100%;
      padding-top: 20px;

      img {
        width: 30px;
      }
    }
  }
}
