<ion-header>

  <ion-navbar>
    <h6 text-center class="no-padding no-margin">{{ 'WALLETS_PAGE.SECOND_PASSPHRASE' | translate }}</h6>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce class="column-mode" #content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="!isBip39">
        <form padding #registerSecondPassphraseForm="ngForm">
          <ion-item>
            <ion-label stacked>{{ 'WALLETS_PAGE.TYPE_YOUR_PASSPHRASE' | translate }}:</ion-label>
            <ion-input type="text" name="passphrase" [(ngModel)]="passphrase" (input)="validatePassphrase()" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>{{ 'WALLETS_PAGE.VALIDATE_PASSPHRASE' | translate }}:</ion-label>
            <ion-input type="text" name="repassphrase" [disabled]="isInvalidPassphrase" [(ngModel)]="repassphrase" (input)="validateRepassphrase()" required></ion-input>
          </ion-item>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center align-self-end>
        <ion-grid>
          <ion-row>
            <ion-col>
              <button ion-button block outline *ngIf="!isBip39" (click)="openGenerateEntropy()">{{ 'GENERATE' | translate }}</button>
              <button ion-button block outline *ngIf="isBip39" (click)="copyPassphrase()">{{ 'COPY' | translate }}</button>
            </ion-col>
            <ion-col>
              <button ion-button block color="primary" [disabled]="isInvalidForm" (click)="submitForm()">{{ 'NEXT' | translate }} ({{ symbol }}{{ fee | unitsSatoshi }})</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="note-toolbar">
  <ion-grid no-padding>
    <ion-row>
      <ion-col text-center no-padding>
        <p>{{ 'WALLETS_PAGE.BACKUP_SECOND_PASSPHRASE' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
