<ion-header>

  <ion-navbar no-border-bottom color="primary" class="main-navbar">
    <ion-buttons>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'My Wallet' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentWalletActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="account-balance">
        <ion-col text-center>
          <p>{{ 'Balance' | translate }}</p>
          <h1>{{ network?.symbol }} {{ wallet?.getBalance() | number: '1.0-2' }}</h1>
          <h4>{{ marketCurrency?.symbol }}{{ wallet?.getBalanceEquivalent(marketCurrency) | number: '1.0-2' }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab color="primary" (click)="presentAddActionSheet()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-grid class="main-grid">
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let tx of wallet?.transactions?.reverse()" class="tx" (click)="openTransactionShow(tx)">
          <ion-item>
            <h3 class="address" *ngIf="tx?.isTransfer()">{{ tx?.recipientId | truncateMiddle: 12 }}</h3>
            <h3 class="address" *ngIf="!tx?.isTransfer()">{{ tx?.getTypeLabel() | translate }}</h3>
            <p class="timestamp">{{ tx?.date | date: 'MMM dd, h:mm a' }} | {{ tx?.confirmations }}</p>
            <div text-right item-end>
              <h3 class="amount">{{ tx?.isSender() ? '-' : '+' }}{{ tx?.getAmount() | unitsSatoshi | number: '1.0-2' }}</h3>
              <p class="amount-equivalent">{{ marketCurrency?.symbol }}{{ tx?.getAmountEquivalent(marketHistory, marketCurrency) | unitsSatoshi | number:
                '1.1-2' }}</p>
            </div>
            <ion-icon *ngIf="tx?.isSender()" item-end name="ios-arrow-round-up" class="icon-rotate-right" style="color: red"></ion-icon>
            <ion-icon *ngIf="!tx?.isSender()" item-end name="ios-arrow-round-down" class="icon-rotate-right" style="color: green"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
