<div class="c-auth-touhc-id flex flex-col justify-center h-full">
	<div class="w-3/4 mx-auto flex flex-col items-center">
		<ion-text color="dark" class="text-xl font-bold">Fingerprint</ion-text>
		<ion-text color="medium" class="mt-1 text-center">
			Attention: All fingerprints registered on your device can access
			your account.
		</ion-text>
		<div class="mt-5">
			<ion-icon
				src="/assets/svg/fingerprint.svg"
				class="c-auth-touch-id__icon"
				color="primary"
			></ion-icon>
		</div>
	</div>
</div>
