<div class="c-auth-pin flex flex-col justify-center h-full">
	<div
		class="w-3/4 mx-auto flex flex-col items-center c-auth-pin--fail"
		[class.c-auth-pin--fail]="hasWrong"
	>
		<ion-icon
			src="/assets/svg/pin.svg"
			color="primary"
			class="mt-2 mb-4 text-5xl"
		></ion-icon>
		<ion-text color="dark" class="text-xl font-bold text-center">
			{{ title | translate }}
		</ion-text>
		<div class="grid grid-cols-6 gap-2 mt-6 c-auth-pin__password">
			<div
				*ngFor="let _ of passwordRange; let i = index"
				class="c-auth-pin__password__char h-5 w-4 flex flex-col items-center"
			>
				<div
					class="c-auth-pin__password__char__dot mb-1 w-3 h-0 rounded-full transition-all duration-100"
					[ngClass]="{ 'h-3': password[i] !== undefined }"
				></div>
				<div
					class="c-auth-pin__password__char__border w-4 rounded-sm"
				></div>
			</div>
		</div>
	</div>
	<div class="c-auth-pin__keyboard grid gap-0 mt-4 mx-auto px-4">
		<ion-button
			*ngFor="let char of [1, 2, 3, 4, 5, 6, 7, 8, 9, null, 0, -1]"
			fill="clear"
			color="dark"
			class="c-auth-pin__keyboard__char w-full h-full text-center text-2xl font-bold"
			(click)="handleInput(char)"
			[disabled]="char === null"
		>
			<ng-template [ngIf]="char !== -1" [ngIfElse]="backspaceIcon">
				{{ char }}
			</ng-template>
			<ng-template #backspaceIcon>
				<ion-icon
					name="backspace"
					color="primary-light"
					size="large"
				></ion-icon>
			</ng-template>
		</ion-button>
	</div>
</div>
