<ion-fab bottom right class="pull-footer">
  <button ion-fab color="primary" (click)="submit()"><ion-icon name="md-add"></ion-icon></button>
</ion-fab>

<ion-grid padding class="full-height">
  <ion-row class="image-row">
    <ion-col text-center class="image-container">
      <img src="./assets/img/wallet/hand-add-button.png" class="image">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center align-self-start>
      <h5>{{ message | translate }}</h5>
    </ion-col>
  </ion-row>
</ion-grid>
