<ion-grid class="alert__container">
	<div
		class="flex flex-col items-center justify-center"
		data-testid="alert-box"
	>
		<ion-row class="text-center">
			<div class="flex flex-col items-center justify-center">
				<div class="alert__container__img">
					<ion-icon
						class="text-2xl"
						[src]="'assets/svg/' + type + '.svg'"
					></ion-icon>
				</div>
				<ion-text color="dark" class="text-xl font-bold">
					{{ title }}
				</ion-text>
			</div>
		</ion-row>
		<ion-row class="text-center">
			<span>{{ message }}</span>
		</ion-row>
	</div>
</ion-grid>
