.intro__ark__logo {
	max-width: 40%;
	height: 2rem;
	content: url("/assets/img/logo.png");
	background-size: contain;
}

.slide-zoom {
	height: 100%;
}

.intro__slide--image {
	max-height: 80%;
	max-width: 65%;
	margin: 2em 0;

	&.welcome-aboard {
		max-width: 75%;
		content: url("/assets/img/light/intro/welcome-aboard.png");
	}

	&.security {
		content: url("/assets/img/light/intro/security.png");
	}

	&.fast-easy {
		content: url("/assets/img/light/intro/fast-easy.png");
	}
}
