<ion-content forceOverscroll="false" class="ion-padding">
	<ion-row class="flex items-center justify-between">
		<img class="intro__ark__logo" />
		<ion-button id="skip" size="small" fill="clear" (click)="startApp()">
			{{ "SKIP" | translate }}</ion-button
		>
	</ion-row>
	<ion-slides #slider (ionSlideDidChange)="onSlideChanged()">
		<ion-slide *ngFor="let slide of slides">
			<ion-grid class="h-full flex flex-col justify-center items-center">
				<div class="flex flex-col justify-center items-center">
					<img [class]="'intro__slide--image ' + slide.image" />
					<ion-text color="dark">
						<h3 class="text-3xl font-bold">
							{{ slide.title }}
						</h3>
					</ion-text>
					<ion-text color="medium">
						<p class="text-sm mt-2 px-6">
							{{ slide.description }}
						</p>
					</ion-text>
				</div>
			</ion-grid>
		</ion-slide>
	</ion-slides>
</ion-content>

<ion-footer
	no-shadow
	no-border
	class="flex flex-col align-center justify-between w-full"
>
	<intro-pagination></intro-pagination>
	<ion-row class="w-full ion-padding">
		<ion-button
			id="next"
			class="flex-1"
			color="primary-light"
			expand="block"
			mode="ios"
			(click)="goNext()"
			*ngIf="showSkip"
		>
			{{ "NEXT" | translate }}</ion-button
		>
		<ion-button
			id="done"
			class="flex-1"
			color="primary-light"
			expand="block"
			mode="ios"
			(click)="startApp()"
			*ngIf="!showSkip"
		>
			{{ "NEXT" | translate }}</ion-button
		>
	</ion-row>
</ion-footer>
