:host {
	@apply w-full;

	ion-list {
		@apply p-0;
	}

	ion-item {
		--padding-start: 0.5rem;
		--paddig-end: 0.5rem;
		--inner-padding-top: 0.5rem;
		--inner-padding-bottom: 0.5rem;
	}

	h3 {
		font-weight: 500 !important;
	}
}
