<ion-header no-shadow no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "PROFILES_PAGE.SIGN_IN" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!isEmpty()">
    <ion-fab-button color="primary" (click)="openProfileCreate()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-no-padding">
    <empty-list
      message="PROFILES_PAGE.ADD_PROFILE_TEXT"
      (onClickButton)="openProfileCreate()"
      *ngIf="isEmpty()"
    ></empty-list>

    <ion-row *ngIf="!isEmpty()">
      <ion-col>
        <address-list
          [map]="addresses"
          [icon]="platform.is('ios') ? 'ios-more' : 'md-more'"
          circleProperty="value"
          (onTap)="verify($event)"
          (onPress)="presentProfileActionSheet($event)"
          (onMore)="presentProfileActionSheet($event)"
        ></address-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<pin-code #pinCode (onSuccess)="signin()" (onWrong)="error()"></pin-code>
