<ion-header no-shadow no-border>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'CONTACTS_PAGE.CONTACTS' | translate }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="column-mode">
  <ion-fab *ngIf="!isEmpty()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openCreatePage()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid *ngIf="profile" class="no-padding">
    <empty-list message="CONTACTS_PAGE.ADD_CONTACT_TEXT" (onClickButton)="openCreatePage()" *ngIf="isEmpty()"></empty-list>

    <ion-row *ngIf="!isEmpty()">
      <ion-col>
        <address-list [map]="addresses" [icon]="platform.is('ios') ? 'ios-more' : 'md-more'" (onTap)="presentContactActionSheet($event)" (onPress)="presentContactActionSheet($event)" (onMore)="presentContactActionSheet($event)"></address-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
