<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>{{ 'SETTINGS_PAGE.SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="availableOptions && currentSettings">

  <ion-list>

    <ion-item-group>
      <ion-item>
        <ion-icon [name]="platform.is('ios') ? 'ios-globe-outline' : 'md-globe'" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="currentSettings.language" (ngModelChange)="onUpdate()" cancelText="{{ 'CANCEL' | translate }}">
          <ion-option *ngFor="let item of objectKeys(availableOptions?.languages)" [value]="item">
            {{ availableOptions?.languages[item] }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon [name]="platform.is('ios') ? 'ios-cash-outline' : 'md-cash'" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.CURRENCY' | translate }}</ion-label>
        <ion-select [(ngModel)]="currentSettings.currency" (ngModelChange)="onUpdate()" cancelText="{{ 'CANCEL' | translate }}">
          <ion-option *ngFor="let item of objectKeys(availableOptions?.currencies)" [value]="item">
            {{ item | uppercase }}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon [name]="platform.is('ios') ? 'ios-book-outline' : 'md-book'" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.WORDLIST_LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="currentSettings.wordlistLanguage" (ngModelChange)="onUpdate()" cancelText="{{ 'CANCEL' | translate }}">
          <ion-option *ngFor="let item of objectKeys(availableOptions?.wordlistLanguages)" [value]="item">
            {{ availableOptions?.wordlistLanguages[item] }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary-background"></ion-item-divider>
      <button detail-push ion-item (click)="openChangePinPage()" class="custom-arrow">
        <ion-icon [name]="platform.is('ios') ? 'ios-lock-outline' : 'md-lock'" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.CHANGE_PIN' | translate }}
      </button>
      <ion-item ion-item>
        <ion-icon [name]="platform.is('ios') ? 'ios-notifications-outline' : 'md-notifications-outline'" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.NOTIFICATIONS' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="currentSettings.notification" (ngModelChange)="onUpdate()"></ion-toggle>
      </ion-item>
      <button detail-push ion-item (click)="openManageNetworksPage()" class="custom-arrow">
        <ion-icon [name]="platform.is('ios') ? 'ios-wifi-outline' : 'md-wifi'" item-start></ion-icon>
        {{ 'CUSTOM_NETWORK.MANAGE_NETWORKS' | translate }}
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary-background"></ion-item-divider>
      <ion-item ion-item>
        <ion-icon [name]="platform.is('ios') ? 'ios-moon-outline' : 'ios-moon'" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.DARK_MODE' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="currentSettings.darkMode" (ngModelChange)="onUpdate()"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="primary-background"></ion-item-divider>
      <button detail-push ion-item (click)="confirmClearData()" class="custom-arrow">
        <ion-icon [name]="platform.is('ios') ? 'ios-trash-outline' : 'md-trash'" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.CLEAR_DATA' | translate }}
      </button>
      <button detail-push ion-item (click)="openPrivacyPolicy()" class="custom-arrow">
        <ion-icon [name]="platform.is('ios') ? 'ios-document-outline' : 'md-document'" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.PRIVACY_POLICY' | translate }}
      </button>
      <ion-item detail-none>
        <ion-icon [name]="platform.is('ios') ? 'ios-information-circle-outline' : 'md-information-circle'" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.VERSION' | translate }}
        <div item-right><p>{{ appVersion }}</p></div>
      </ion-item>
    </ion-item-group>

  </ion-list>
</ion-content>

<pin-code [wallet]="currentWallet" (onSuccess)="onEnterPinCode($event)" #pinCode></pin-code>
