<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'SETTINGS_PAGE.SETTINGS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="availableOptions && currentSettings">

  <ion-list>

    <ion-item-group>
      <ion-item-divider color="light">{{ 'SETTINGS_PAGE.INTERNATIONALIZATION' | translate }}</ion-item-divider>
      <ion-item>
        <ion-icon name="globe" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="currentSettings.language" (ngModelChange)="onUpdate()" cancelText="{{ 'CANCEL' | translate }}">
          <ion-option *ngFor="let item of objectKeys(availableOptions?.languages)" [value]="item">
            {{ availableOptions?.languages[item] }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="cash" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.CURRENCY' | translate }}</ion-label>
        <ion-select [(ngModel)]="currentSettings.currency" (ngModelChange)="onUpdate()" cancelText="{{ 'CANCEL' | translate }}">
          <ion-option *ngFor="let item of objectKeys(availableOptions?.currencies)" [value]="item">
            {{ item | uppercase }}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">{{ 'SETTINGS_PAGE.SECURITY' | translate }}</ion-item-divider>
      <button ion-item (click)="openChangePinPage()">
        <ion-icon name="lock" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.CHANGE_PIN' | translate }}
      </button>
      <button ion-item (click)="openWalletBackupPage()">
        <ion-icon name="briefcase" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.WALLET_BACKUP' | translate }}
      </button>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">{{ 'SETTINGS_PAGE.APPEARANCE' | translate }}</ion-item-divider>
      <ion-item ion-item>
        <ion-icon name="moon" item-start></ion-icon>
        <ion-label>{{ 'SETTINGS_PAGE.DARK_MODE' | translate }}</ion-label>
        <ion-toggle disabled checked="false"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">{{ 'SETTINGS_PAGE.APPLICATION' | translate }}</ion-item-divider>
      <button ion-item (click)="confirmClearData()">
        <ion-icon name="trash" item-start></ion-icon>
        {{ 'SETTINGS_PAGE.CLEAR_DATA' | translate }}
      </button>
    </ion-item-group>

  </ion-list>
</ion-content>

<pin-code [wallet]="currentWallet" (onSuccess)="onEnterPinCode($event)" #pinCode></pin-code>
