close-popup {
	.button {
		display: block;
		z-index: 1001;
		position: absolute;
		top: 0.5em;
		right: 0.2em;
		opacity: 0.6;
	}

	.icon {
		font-size: 2.5rem;

		&.large {
			font-size: 3rem !important;
		}
	}
}
