page-wallet-register-delegate-modal {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 2em 1em;
    }
    .button {
      margin-top: 2em;
    }
  }
}

.modal-register-delegate {
  position: absolute;
  width: 85%;
  height: 60%;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
