// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #345ff2,
  secondary:  #32db64,
  success:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  danger-alternative: #ca284a,
  primary-background: #edf2f5,
  secondary-background: #fff,
  warning: #ffeaa5,
  wallet-normal-gradient: #d9c7c9,
  wallet-delegate-gradient: #d2dbf2
);

$darkColors: (
  primary:    #345ff2,
  secondary:  #8891bc,
  success:    #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #474f7c,
  danger-alternative: #ca284a,
  primary-background: #090c21,
  secondary-background: #0e1335,
  warning: #ffeaa5,
  wallet-normal-gradient: #604145,
  wallet-delegate-gradient: #2c4b99
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$content-ios-transition-background: transparent;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$searchbar-md-input-box-shadow: none;
$searchbar-md-input-background-color: transparent;
$item-md-detail-push-show: true;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// OVERRIDE

$background-ios-color: color($colors, primary-background, base);
$background-md-color: color($colors, primary-background, base);
$background-wp-color: color($colors, primary-background, base);

