:host {
  .image {
    display: block;
    max-height: 100%;
    max-width: 90%;
    margin: 3em auto;
    content: url('/assets/img/light/wallet/import-wallet.png');
  }
}

:host-context(.dark-theme) {
  .image {
    content: url('/assets/img/dark/wallet/import-wallet.png');
  }
}
