:host {
	.item-title {
		@apply uppercase text-xs tracking-wide font-semibold mb-1 !important;
		color: var(--ion-color-medium);
	}

	.info-toolbar {
		background: linear-gradient(to right, #1a1637, #2f2832);
	}
}
