ion-grid {
  background: url('/assets/img/light/login/login-pattern.png') repeat;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: top center;

  .image-logo {
    display: block;
    max-width: 55%;
  }
}

:host-context(.dark-theme) {
  ion-grid {
    background: url('/assets/img/dark/login/login-pattern.png') repeat;
    background-size: contain;
    background-repeat:no-repeat;
    background-position: top center;
    // background-color: color($darkColors, primary-background, base);
  }
}
