page-wallet-label-modal {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 2em 1em;
    }
  }
}

.modal-label {
  position: absolute;
  width: 80%;
  height: 45%;
  top: 30%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
