<ion-header no-border no-shadow>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ currentProfile?.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="column-mode-simple" [ngClass]="{delegate: selectedWallet?.isDelegate, normal: selectedWallet?.isDelegate == false}" no-padding no-bounce>
  <ion-grid no-padding class="full-height">
    <empty-list message="WALLETS_PAGE.ADD_WALLET_TEXT" (onClickButton)="presentActionSheet()" *ngIf="wallets?.length === 0"></empty-list>

    <ion-fab bottom right class="pull-footer" *ngIf="wallets?.length > 0">
      <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>
    <ion-row class="total-balance-container" *ngIf="wallets?.length > 0">
      <ion-col>
        <p>{{ 'WALLETS_PAGE.TOTAL_BALANCE' | translate }}</p>
        <h2 class="amount">
          {{ currentNetwork?.symbol }} {{ totalBalance | unitsSatoshi }}
          <span class="fiat" appMarketNetOnly>{{ fiatCurrency?.symbol }}{{ fiatBalance | marketNumber }}</span>
        </h2>
      </ion-col>
    </ion-row>
    <ion-row no-padding *ngIf="wallets?.length > 0" class="wallets-container">
      <ion-col no-padding>
        <ion-slides spaceBetween="-75" speed="100" #walletSlider (ionSlideDidChange)="onSlideChanged()">
          <ion-slide *ngFor="let wallet of wallets" tappable (tap)="openWalletDashboard(wallet)">
            <ion-item class="wallet">
              <ion-label [ngClass]="{delegate: wallet?.isDelegate, normal: !wallet?.isDelegate}">
                <h2 class="amount">{{ currentNetwork?.symbol }} {{ wallet?.balance | unitsSatoshi }}</h2>
                <p class="address">{{ (wallet?.username || wallet?.label || wallet?.address) | truncateMiddle: 15 }}</p>
                <ion-badge class="watch-only-badge" [color]="wallet?.isDelegate ? 'primary' : 'danger-alternative'" *ngIf="wallet.isWatchOnly">
                  {{ 'WATCH_ONLY' | translate }}
                </ion-badge>
              </ion-label>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row padding *ngIf="wallets?.length > 0" class="marketcap-container" appMarketNetOnly>
      <ion-col>
        <hr>
        <h4 class="market-cap-title"><ion-icon name="md-trending-up"></ion-icon> {{ 'MARKETS_PAGE.MARKET_DATA' | translate }}</h4>
        <ion-grid class="no-padding" class="price-container">
          <ion-row nowrap align-items-baseline>
            <ion-col col-auto *ngIf="fiatCurrency?.code !== 'btc'" style="padding-right: 20px">
              <p>{{ fiatCurrency?.code | uppercase }} <span class="fiat-bullet"></span></p>
              <h6>{{ fiatCurrency?.symbol }}{{ fiatCurrency?.price | marketNumber }}</h6>
            </ion-col>
            <ion-col col-auto>
              <p>
                {{ btcCurrency?.code | uppercase }} ({{ 'MARKETS_PAGE.PERCENTAGE_CHANGE' | translate }})
                <span class="btc-bullet"></span>
              </p>
              <h6>
                {{ btcCurrency?.price | marketNumber: btcCurrency }}
                (<span ion-text [color]="btcCurrency?.change24h < 0 ? 'danger' : 'secondary'">{{ btcCurrency?.change24h | number: '1.2-2' }}%</span>)
              </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="rowChart" *ngIf="chartLabels && wallets?.length > 0 && currentNetwork?.name != 'devnet'" [style.display]="wallets?.length > 0 ? 'block' : 'none'">
      <canvas
        baseChart
        appMarketNetOnly
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [colors]="chartColors"
        [legend]="false"
        chartType="line"
        #chart>
      </canvas>
    </ion-row>
  </ion-grid>
</ion-content>
