<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ currentProfile?.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="column-mode-simple" no-padding no-bounce>
  <ion-grid no-padding class="full-height">
    <empty-list message="WALLETS_PAGE.ADD_WALLET_TEXT" (onClickButton)="presentActionSheet()" *ngIf="wallets?.length === 0"></empty-list>

    <ion-fab bottom right class="pull-footer" *ngIf="wallets?.length > 0">
      <button ion-fab color="primary" (click)="presentActionSheet()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

    <ion-row no-padding *ngIf="wallets?.length > 0">
      <ion-col no-padding>
        <ion-scroll scrollX="true">
          <ion-card *ngFor="let wallet of wallets" [class.delegate]="wallet?.isDelegate" (click)="openWalletDashboard(wallet)">
            <ion-item>
              <ion-label stacked>
                <h2 class="amount">{{ currentNetwork?.symbol }} {{ wallet?.balance | unitsSatoshi | number: '1.0-2' }}</h2>
                <p class="address">{{ wallet?.label || wallet?.address | accountLabel | truncateMiddle: 15 }}</p>
              </ion-label>
            </ion-item>
            <ion-chip color="primary" *ngIf="wallet.isWatchOnly">
              <ion-label>{{ 'WATCH_ONLY' | translate }}</ion-label>
            </ion-chip>
          </ion-card>
        </ion-scroll>
      </ion-col>
    </ion-row>
    <ion-row padding *ngIf="wallets?.length > 0">
      <ion-col>
        <h3 class="market-cap-title">{{ 'MARKETS_PAGE.MARKET_CAP' | translate }}</h3>
        <ion-grid>
          <ion-row nowrap>
            <ion-col col-3 text-center>
              <p>{{ fiatCurrency?.code | uppercase }} <span class="fiat-bullet">•</span></p>
              <h6>{{ fiatCurrency?.price | currency:fiatCurrency?.code:'symbol' }}</h6>
            </ion-col>
            <ion-col col-6 text-center>
              <p>{{ btcCurrency?.code | uppercase }} <span class="btc-bullet">•</span></p>
              <h6>{{ btcCurrency?.price }}</h6>
            </ion-col>
            <ion-col col-3 text-center>
              <p>{{ 'MARKETS_PAGE.PERCENTAGE_CHANGE' | translate }}</p>
              <h6 ion-text [color]="marketTicker?.change1h < 0 ? 'danger' : 'secondary'">{{ marketTicker?.change1h }}%</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="rowChart" [style.display]="wallets?.length > 0 ? 'block' : 'none'">
      <canvas #priceChart></canvas>
    </ion-row>
  </ion-grid>
</ion-content>
