<ion-app>
  <ion-menu type="overlay" contentId="main" menuId="sidebar" id="sidebar">
    <ion-header no-border no-shadow>
      <div class="p-8">
        <img src="/assets/img/logo-no-shadow.png" width="70" height="70">
        <h4 class="text-xl font-semibold mt-4 whitespace-normal">{{ profile?.name }}</h4>
        <ion-text color="medium">
          <p>{{ network?.name }}</p>
        </ion-text>
      </div>
    </ion-header>
  
    <ion-content>
      <ion-list inset lines="none">
        <ion-item detail (click)="openPage('/wallets')">
          <ion-icon name="wallet" slot="start"></ion-icon>
          {{ 'WALLETS_PAGE.WALLETS' | translate }}
        </ion-item>
        <ion-item detail (click)="openPage('/wallets/top', false)">
          <ion-icon name="filing" slot="start"></ion-icon>
          {{ 'WALLETS_PAGE.TOP_WALLETS' | translate }}
        </ion-item>
        <ion-item detail (click)="openPage('/delegates', false)">
          <ion-icon name="people" slot="start"></ion-icon>
          {{ 'DELEGATES_PAGE.DELEGATES' | translate }}
        </ion-item>
        <ion-item detail (click)="openPage('/network-status', false)">
          <ion-icon name="wifi" slot="start"></ion-icon>
          {{ 'NETWORKS_PAGE.NETWORK_STATUS' | translate }}
        </ion-item>
        <ion-item detail (click)="openPage('/settings', false)">
          <ion-icon name="settings" slot="start"></ion-icon>
          {{ 'SETTINGS_PAGE.SETTINGS' | translate }}
        </ion-item>
        <ion-item detail (click)="openPage('/contacts', false)">
          <ion-icon name="contact" slot="start"></ion-icon>
          {{ 'CONTACTS_PAGE.CONTACTS' | translate }}
        </ion-item>
      </ion-list>
    </ion-content>
  
    <ion-footer no-border no-shadow>
      <ion-list inset lines="none">
        <ion-item detail (click)="logout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          {{ 'SIGN_OUT' | translate }}
        </ion-item>
      </ion-list>
    </ion-footer>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>