// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.button-group {
  .col {
    &:first-child:not(:last-child) {
      padding-right: 0;
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:not(:first-child):not(:last-child) {
      padding-right: 0;
      padding-left: 0;
      .button {
        border-radius: 0;
      }
    }
    &:last-child:not(:first-child) {
      padding-left: 0;
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.icon-rotate-right {
  transform: rotate(30deg);
}

.icon-rotate-left {
  transform: rotate(-30deg);
}
