@import "../assets/styles/modal";
@import "../assets/styles/responsive";
@import "../assets/styles/layout";
@import "../assets/styles/toast";
@import "../../node_modules/ionic2-auto-complete/auto-complete";

ion-app.transparent {
  background: none transparent;
}

#sidebarMenu {
  .menu-inner {
    background: #fff;
    width: 270px;

    ion-content {
      background: transparent!important;
    }
  }

  ion-header {
    padding: 40px 20px 20px 30px;

    h4 {
      margin-bottom: .2em;
    }
    p {
      margin-top: 0;
      color: #666;
      text-transform: capitalize;
    }
  }

  ion-list > .item {
    .icon {
      color: color($colors, primary, base);
    }

    .label {
      font-weight: 500;
    }
  }
}

.button-group {
  .col {
    &:first-child:not(:last-child) {
      padding-right: 0;
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      padding-right: 0;
      padding-left: 0;
      .button {
        border-radius: 0;
      }
    }

    &:last-child:not(:first-child) {
      padding-left: 0;
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.footer > .button-continue {
  margin-top: 0;
}

.button-continue {
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  padding: 1.7em 2em;
}

.icon-rotate-right {
  transform: rotate(30deg);
}

.icon-rotate-left {
  transform: rotate(-30deg);
}

.dark-navbar {
  color: white;

  &.delegate > .toolbar-background {
    background: #394cf8;
  }

  &>.toolbar-background {
    background: #101022;
    border: none;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;

  .item-inner {
    border: none!important;
  }
}

.full-height {
  height: 100%;
}

.text-selectable {
  user-select: auto!important;
}

.list-readonly-form {
  .label {
    color: #495b71;
    font-weight: 600;
  }
}

.list-selectable {
  .item-block {
    border-top: none!important;
  }

  .item {
    padding: .5em 0;
    user-select: auto!important;
    border-bottom: 1px solid darken(color($colors, primary-background, base), 5%)!important;

    &:last-child {
      border-bottom: none!important;
    }

    p {
      color: #495b71;
      font-weight: 600;
    }

    .content {
      margin-top: 5px;
    }
  }
}

.note-toolbar {
  padding: 1em;
  background: color($colors, warning, base);

  .toolbar-background {
    background: transparent;
    border: none;
  }
}

.note-message-default {
  display: block;
  text-align: center;
  padding: 1.2em 1em;
  margin: 1.5em auto;
  line-height: 1.5;
  color: #0b1828;
  background: #d4e4ef;
}

.note-message {
  display: block;
  text-align: center;
  line-height: 1.5;
  padding: 1.2em 1em;
  margin: 1.5em auto;
  color: black;
  background: color($colors, warning, base);
}

ion-content.column-mode {
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
  }
}

ion-content.column-mode-simple {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
}

ion-fab.pull-footer {
  bottom: 20px!important;
  right: 20px!important;
}

.sole-message {
  font-size: 11.5pt;
  padding: 1em;
  line-height: 1.7;
}

.platform-ios modal-pin-code close-popup .button {
  top: 1.5em;
}

.content .scroll-content {
  overflow-y: auto;
}

.content-ios .scroll-content {
  overflow-y: scroll;
}

ion-app {
  &.dark-theme {
    .toggle-icon {
      background-color: #0d1632;

      .toggle-inner {
        background-color: #2a375e;
      }
    }

    .toggle-checked {
      .toggle-icon {
        background-color: #0d1632;

        .toggle-inner {
          background-color: lighten(color($darkColors, primary-background, base), 50%);
        }
      }
    }

    .card h3, .card h4, .card h5, .card h6 {
      color: #fff;
    }

    .sole-message {
      color: #fff;
    }

    #sidebarMenu {
      ion-header p {
        color: color($darkColors, secondary, base);
      }

      .menu-inner {
        background-color: color($darkColors, primary-background, base);
        color: #fff;
      }

      ion-list > .item {
        .icon {
          color: #4744f5;
          -webkit-text-stroke: 0.4px #4744f5;
        }

        .label {
          color: #fff;
        }
      }
    }

    ion-content {
      background-color: color($darkColors, primary-background, base);
    }

    .content {
      color: #fff;
    }

    .item {
      color: #fff;

      .label {
        color: color($darkColors, secondary, base);

        h3, h6 {
          color: #fff;
        }

        span {
          color: #fff;
        }

        .item-value {
          color: #fff;
        }

        .content {
          color: #fff;
        }
      }

      p {
        color: color($darkColors, secondary, base);
      }
    }

    .list-selectable {
      .item {
        border-bottom: 1px solid color($darkColors, secondary-background, base)!important;
      }
    }

    form .item-block .item-inner,
    .list .item-block .item-inner {
      border-bottom: 1px solid color($darkColors, secondary-background, base);
    }

    .list .item-block {
      &.custom-arrow .item-inner {
        background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 20'><path d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z' fill='#5867d1'/></svg>");
      }
    }

    .list > .item-block:last-child ion-label,
    .list > .item-block:last-child .item-inner,
    .list > .item-wrapper:last-child ion-label,
    .list > .item-wrapper:last-child .item-inner {
      border-bottom: 0;
    }

    ion-item-divider {
      background-color: color($darkColors, primary-background, base);
      border-bottom-color: color($darkColors, primary-background, base);
    }

    ion-list[no-lines] .item-block,
    ion-list[no-lines] ion-item-options,
    ion-list[no-lines] .item .item-inner,
    ion-list .item[no-lines],
    ion-list .item[no-lines] .item-inner {
      border-width: 0;
    }

    .toolbar-title,
    .toolbar-content {
      color: #fff;
    }
    
    .bar-button-default {
      color: lighten(color($darkColors, primary-background, base), 50%);
    }

    .bar-button-clear {
      color: #fff !important;
    }

    .dark-navbar {
      button {
        .icon {
          color: lighten(color($darkColors, primary-background, base), 50%);
        }
      }
    }

    .action-sheet-group {
      background-color: color($darkColors, primary-background, base);
    }

    .action-sheet-button {
      color: #fff !important;

      &.activated {
        background-color: #090e24;
      }

      .list .icon, .menu-inner .icon,
      .action-sheet-icon {
        color: #4744f5;
        -webkit-text-stroke: 0.4px #4744f5;
      }
    }

    .button-group {
      .button-md-primary {
      }
    }

    ion-alert {
      .alert-wrapper {
        background-color: color($darkColors, primary-background, base) !important;
        color: #fff;

        .alert-message {
          color: rgba(255, 255, 255, 0.5);
        }

        .alert-radio-group {
          border-color: color($darkColors, secondary-background, base);

          .alert-radio-label {
            color: #fff;
          }

          [aria-checked=true] .alert-radio-label {
            color: color($darkColors, primary, base);
          }
        }
      }
    }

    .searchbar-input-container .searchbar-input {
      color: #fff;
    }
  }
}