@import "../assets/styles/modal";

#sidebarMenu {
  ion-header {
    padding: 40px 20px 20px 30px;

    h4 {
      margin-bottom: .2em;
    }
    p {
      margin-top: 0;
      color: #666;
      text-transform: capitalize;
    }
  }
  ion-list > .item {
    .icon {
      color: rgb(0, 80, 232);
    }
    .label {
      font-weight: 500;
    }
  }
}

.button-group {
  .col {
    &:first-child:not(:last-child) {
      padding-right: 0;
      .button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:not(:first-child):not(:last-child) {
      padding-right: 0;
      padding-left: 0;
      .button {
        border-radius: 0;
      }
    }
    &:last-child:not(:first-child) {
      padding-left: 0;
      .button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.button-continue {
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  padding: 1.7em 2em;
}

.icon-rotate-right {
  transform: rotate(30deg);
}

.icon-rotate-left {
  transform: rotate(-30deg);
}

.dark-navbar {
  &.delegate > .toolbar-background {
    background: #394cf8;
  }
  &>.toolbar-background {
    background: #101022;
    border: none;
  }
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;

  .item-inner {
    border: none!important;
  }
}

.full-height {
  height: 100%;
}

.text-selectable {
  user-select: auto!important;
}

.list-readonly-form {
  .label {
    color: #495b71;
    font-weight: 600;
  }
}

.list-selectable {
  .item-block {
    border-top: none!important;
  }

  .item {
    padding: .5em 0;
    user-select: auto!important;
    border-bottom: 1px solid #eee!important;

    &:last-child {
      border-bottom: none;
    }

    p {
      color: #495b71;
      font-weight: 600;
    }
    .content {
      margin-top: 5px;
    }
  }
}

.note-toolbar {
  padding: 1em;
  background: #ffeaa5;

  .toolbar-background {
    background: transparent;
    border: none;
  }
}

.note-message-default {
  display: block;
  text-align: center;
  padding: 1.2em 1em;
  margin: 1.5em auto;
  color: #0b1828;
  background: #d4e4ef;
}

.note-message {
  display: block;
  text-align: center;
  padding: 1.2em 1em;
  margin: 1.5em auto;
  background: #ffeaa5;
}

.md ion-list > .item:first-child,
.md ion-list > .item-wrapper:first-child .item,
.wp ion-list > .item:first-child,
.wp ion-list > .item-wrapper:first-child .item,
.ios ion-list > .item:first-child,
.ios ion-list > .item-wrapper:first-child .item {
  border-top: none;
}

.md ion-list > .item:last-child,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

.no-valiadte .item-input.ng-valid.input-has-value::after,
.no-valiadte .item.ng-valid.input-has-value::after {
  border-bottom-color: transparent;
}

ion-content.column-mode {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    padding: 0;
    height: 100%;
  }
  ion-row {
    flex: 1;
  }
}

ion-fab.pull-footer {
  bottom: 20px!important;
  right: 20px!important;
}

.circle-letter {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background: #b6c4cc;
  &.mainnet {
    background: #ed2a2d;
  }
}

.box-passphrase {
  border: 2px solid rgba(0, 80, 232, 0.3);
  color: rgba(0, 0, 0, 0.8);
  text-align: justify;
  padding: 1em;
  margin: 1em;
  line-height: 1.5em
}
