page-transaction-show {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 1em;
    }
    ion-row {
      padding: 1em 0;
    }
    .block-span {
      display: block;
    }
  }
}
