
<ion-list>
  <ion-item class="address-item" *ngFor="let item of map">
    <ion-item tappable (tap)="tap(item.index)" (press)="press(item.index)">
      <div class="circle-letter"  [class.highlight]="item.highlight" item-start>
        {{ item[circleProperty].charAt(0) }}
      </div>
      <h3 class="address-key">{{ item.key }}</h3>
      <p class="address-value">{{ item.value }}</p>
    </ion-item>
    <button ion-button item-right clear icon-only class="more disable-hover" *ngIf="icon" (tap)="more(item.index)">
      <ion-icon [name]="icon"></ion-icon>
    </button>
  </ion-item>
</ion-list>
