:host {
  ion-item {
    --padding-start: 0;
  }

  .input-fee--warning .input-fee__label {
    color: #de751f;
  }
  
  .input-fee--danger .input-fee__label {
    color: var(--ion-color-danger);
  }
  
  .input-fee__helper {
    padding-top: 2px;
    padding-bottom: 5px;
    white-space: normal!important;
    overflow: visible!important;
  }
  
  .input-fee__helper--warning {
    @extend .input-fee__helper;
    color: #de751f;
  }
  
  .input-fee__helper--danger {
    @extend .input-fee__helper;
    color: var(--ion-color-danger);
  }  
}