<ion-item class="overflow-visible">
	<div slot="end" class="flex items-center h-full">
		<ion-button
			[fill]="currentFee === min ? 'solid' : 'outline'"
			color="medium"
			(click)="onMin()"
			mode="ios"
		>
			{{ "INPUT_FEE.MIN" | translate }}
		</ion-button>
		<ion-button
			[fill]="currentFee === avg ? 'solid' : 'outline'"
			color="medium"
			(click)="onAvg()"
			mode="ios"
		>
			{{ "INPUT_FEE.AVG" | translate }}
		</ion-button>
		<ion-button
			[fill]="currentFee === max ? 'solid' : 'outline'"
			color="medium"
			(click)="onMax()"
			mode="ios"
		>
			{{ "INPUT_FEE.MAX" | translate }}
		</ion-button>
	</div>

	<ion-label position="floating">
		{{ "TRANSACTIONS_PAGE.FEE" | translate }}
	</ion-label>

	<input-currency
		[isRelaxed]="true"
		formControlName="fee"
		name="fee"
		(inputCurrencyUpdate)="emitUpdate($event)"
	></input-currency>

	<ion-range
		step="0.000000001"
		[min]="min"
		[max]="max"
		pin="false"
		class="absolute py-0 w-full"
		[formControl]="rangeControl"
	></ion-range>
</ion-item>
