<ion-header no-shadow>

  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">{{ 'SKIP' | translate }}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>
  <ion-slides padding pager="true" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>
      <div class="img-box">
        <img src="assets/img/light/intro/24_7.png" alt="">
      </div>
      <p>{{ 'INTRO_PAGE.TEXT_1' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <div class="img-box">
        <img src="assets/img/light/intro/security.png" alt="">
      </div>
      <p>{{ 'INTRO_PAGE.TEXT_2' | translate }}</p>
    </ion-slide>
    <ion-slide>
      <div class="img-box">
        <img src="assets/img/light/intro/pincode.png" alt="">
      </div>
      <p>{{ 'INTRO_PAGE.TEXT_3' | translate }}</p>
      <button ion-button block color="primary" (click)="startApp()" *ngIf="!showSkip">{{ 'INTRO_PAGE.GETTING_STARTED' | translate }}</button>
    </ion-slide>
  </ion-slides>
</ion-content>
