<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>{{ 'CONTACTS_PAGE.CONTACTS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="column-mode">
  <ion-fab bottom right class="pull-footer">
    <button ion-fab color="primary" (click)="openCreatePage()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

  <ion-grid *ngIf="profile" no-padding>
    <empty-list message="CONTACTS_PAGE.ADD_CONTACT_TEXT" (onClickButton)="openCreatePage()" *ngIf="isEmpty()"></empty-list>

    <ion-row *ngIf="!isEmpty()">
      <ion-col>
        <ion-list>
          <ion-item class="contact-item" *ngFor="let address of addresses">
            <ion-item>
              <div class="circle-letter" item-start>
                {{ contacts[address]?.name?.charAt(0) }}
              </div>
              <h2>{{ contacts[address]?.name }}</h2>
              <p>{{ address }}</p>
            </ion-item>
            <button ion-button item-right icon-only class="more" (click)="presentContactActionSheet(address)">
              <ion-icon name="md-more"></ion-icon>
            </button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
