<div class="ion-padding justify-center items-center">
	<ion-button
		color="primary-light"
		(click)="generateWalletHandler()"
		data-testid="wallet-list-actions-button__generate"
	>
		<ion-icon size="small" slot="icon-only" name="add-sharp"></ion-icon>
	</ion-button>
	<ion-button
		color="primary-light"
		(click)="importWalletHandler()"
		data-testid="wallet-list-actions-button__import"
	>
		<ion-icon
			size="small"
			slot="icon-only"
			name="download-sharp"
		></ion-icon>
	</ion-button>
</div>
