<ul
	data-testid="wallet-passphrase-list"
	class="grid grid-cols-2 sm:grid-cols-3 gap-4"
>
	<li
		*ngFor="let word of words; let i = index"
		data-testid="wallet-passphrase-list__word-box"
		class="wallet-passphrase-list__word-box border rounded-md relative py-3 px-4"
	>
		<div
			data-testid="wallet-passphrase-list__word-box--order"
			class="bg-theme-background absolute left-0 top-0 -mt-2 ml-3 pl-1 pr-1 text-xs text-medium"
		>
			{{ i + 1 }}
		</div>
		<span
			data-testid="wallet-passphrase-list__word-box--word"
			class="wallet-passphrase-list__word-box--word font-bold"
		>
			{{ word }}
		</span>
	</li>
</ul>
