page-profile-create {
  .button-group {
    padding: 0;
    margin: .5em 0 0 0;
    width: 80%;

    .button {
      border-radius: 5px;
    }
  }
  .network-types {
    margin-top: 1em;
    p {
      margin-top: .3em;
    }
    button {
      text-transform: capitalize;
    }
  }
}
