<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title>{{ 'PROFILES_PAGE.CREATE_PROFILE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="full-height" #content>
  <form #createProfileForm="ngForm" class="full-height">
    <ion-grid class="full-height">
      <ion-row class="create-field">
        <ion-col>
          <ion-item>
            <ion-label floating>{{ 'NAME' | translate }}</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="newProfile.name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="no-padding">
          <ion-toolbar (click)="toggleAdvanced()" class="advanced-toolbar">
            {{ 'SHOW_ADVANCED' | translate }}
            <ion-buttons end>
              <button ion-button clear>
                <ion-icon [name]="showAdvancedOptions ? 'arrow-dropup' : 'arrow-dropdown'"></ion-icon>
              </button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
      </ion-row>
      <ion-row class="create-field" *ngIf="showAdvancedOptions">
        <ion-col>
          <ion-item class="network-types" no-lines>
            <span>{{ 'NETWORKS_PAGE.NETWORK_TYPE' | translate }}</span>
            <p>{{ 'NETWORKS_PAGE.CHOOSE_ONE' | translate }}.</p>

            <ion-grid fixed class="button-group">
              <ion-row nowrap>
                <ion-col *ngFor="let id of networksIds">
                  <button ion-button block round [outline]="newProfile.networkId !== id" (click)="onSelectNetwork(id)" color="primary">{{ networks[id].name }}</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="layout-flex">
        <ion-col align-self-end>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer padding no-shadow no-border [keyboard-attach]="content">
  <button ion-button class="button-continue" [disabled]="!createProfileForm.form.valid" (click)="submitForm()">{{ 'NEXT' | translate }}</button>
</ion-footer>
