.scroll-content {
	margin-bottom: 0 !important;
}

.wallets-component__bottom-gradient {
	min-height: 80px;
	background: linear-gradient(
		to top,
		#{"rgba(var(--ion-background-color-rgb), 1)"},
		#{"rgba(var(--ion-background-color-rgb), 0)"}
	);
}
