modal-qr-scanner {
  .content {
    background: transparent !important;

    ion-row {
      align-items: center;

      img {
        display: block;
        margin: 11em auto 2em;
        width: 15em;
        height: 15em;
      }
    }
  }
}
