<ion-header no-border no-shadow translucent collapse="condense">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ currentProfile?.name }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content forceOverscroll="false" fullscreen #content [ngClass]="{delegate: selectedWallet?.isDelegate, normal: selectedWallet?.isDelegate == false}">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="wallets?.length > 0">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="md-add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <empty-list *ngIf="wallets?.length === 0" message="WALLETS_PAGE.ADD_WALLET_TEXT" (onClickButton)="presentActionSheet()"></empty-list>

  <ion-grid class="h-full flex flex-col justify-between" *ngIf="wallets?.length > 0">
    <ion-row class="flex-1 py-5">
      <ion-col class="px-5">
        <ion-text color="medium">
          <p class="mb-1 text-xs uppercase font-semibold">{{ 'WALLETS_PAGE.TOTAL_BALANCE' | translate }}</p>
        </ion-text>
        <div class="flex items-baseline">
          <ion-text color="dark">
            <h2 class="text-2xl font-semibold">
              {{ currentNetwork?.symbol }} {{ (totalBalance | unitsSatoshi) || 0 }}
            </h2>
          </ion-text>
          <ion-text color="medium">
            <span class="text-lg ml-2" appMarketNetOnly>{{ fiatCurrency?.symbol }}{{ (fiatBalance | marketNumber) || 0 }}</span>
          </ion-text>
        </div>
      </ion-col>

      <ion-col class="p-0 mt-4">
        <ion-slides class="ml-5" [options]="slideOptions" #walletSlider (ionSlideDidChange)="onSlideChanged()">
          <ion-slide class="flex justify-start" *ngFor="let wallet of wallets" tappable (tap)="openWalletDashboard(wallet)">
            <ion-item lines="none" class="w-4/5" [ngClass]="{delegate: wallet?.isDelegate, normal: !wallet?.isDelegate}">
              <div class="flex flex-col text-white">
                <h2 class="font-semibold">
                  {{ currentNetwork?.symbol }} {{ (wallet?.balance | unitsSatoshi) || 0 }}
                </h2>
                <div class="flex mt-2">
                  <span class="text-sm flex-grow truncate">
                    {{ (wallet?.username || wallet?.label || wallet?.address) | truncateMiddle: 15 }}
                  </span>
                  <ion-badge class="w-1/4" [color]="wallet?.isDelegate ? 'primary' : 'danger-alternative'" *ngIf="wallet.isWatchOnly">
                    {{ 'WATCH_ONLY' | translate }}
                  </ion-badge>
                </div>
              </div>
            </ion-item>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row class="flex-1 flex items-center p-5">
      <ion-col>
        <ion-grid>
          <ion-row class="flex-no-wrap">
            <ion-col col-auto *ngIf="fiatCurrency?.code !== 'btc'" style="padding-right: 20px">
              <p>{{ fiatCurrency?.code | uppercase }} <span class="fiat-bullet"></span></p>
              <h6>{{ fiatCurrency?.symbol }}{{ fiatCurrency?.price | marketNumber }}</h6>
            </ion-col>
            <ion-col col-auto>
              <p>
                {{ btcCurrency?.code | uppercase }} ({{ 'MARKETS_PAGE.PERCENTAGE_CHANGE' | translate }})
                <span class="btc-bullet"></span>
              </p>
              <h6>
                {{ btcCurrency?.price | marketNumber: btcCurrency }}
                (<ion-text [color]="btcCurrency?.change24h < 0 ? 'danger' : 'secondary'">{{ btcCurrency?.change24h | number: '1.2-2' }}%</ion-text>)
              </h6>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>

    <ion-row class="flex-1">
      <ion-col *ngIf="chartLabels && wallets?.length > 0" appMarketNetOnly>
        <canvas
          baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="chartColors"
          [legend]="false"
          chartType="line"
          #chart>
        </canvas>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
