:host {

  ion-content {
    &.normal {
      --background: linear-gradient(0deg,
       rgba(0,0,0,0) 0%,
        rgba(var(--wallet-normal-gradient-rgb), 0.80) 70%,
        rgba(var(--wallet-normal-gradient-rgb), 1) 100%
      );
    }
  
    &.delegate {
      --background: linear-gradient(0deg,
       rgba(0,0,0,0) 0%,
        rgba(var(--wallet-delegate-gradient-rgb), 0.80) 70%,
        rgba(var(--wallet-delegate-gradient-rgb), 1) 100%
      );
    }
  }

  ion-slides ion-item {
    width: 75%;
    --border-radius: 5px;
    --background: white url('/assets/img/light/wallet/normal-block.png') no-repeat center center / cover;
    --padding-start: 0;
    --inner-padding-start: 1.5rem;
    --inner-padding-end: 1.5rem;
    --inner-padding-top: 2rem;
    --inner-padding-bottom: 2rem;
    --color: white;
  }
}
