<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'Contacts' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="column-mode">
  <ion-grid *ngIf="profile">
    <ion-fab bottom right class="pull-footer">
      <button ion-fab color="primary" (click)="openCreatePage()"><ion-icon name="md-add"></ion-icon></button>
    </ion-fab>

    <ion-row padding justify-content-center align-items-center class="full-height" *ngIf="contacts?.length == 0">
      <ion-col text-center>
        <h5>{{ 'Click on the button below to add a contact' | translate }}</h5>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="contacts?.length > 0">
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let address of addresses">
            <button ion-item (click)="openEditPage(address)">
              <div class="circle-letter" item-start>
                {{ addresses[address]?.name?.charAt(0) }}
              </div>
              <h2>{{ addresses[address]?.name }}</h2>
              <p>{{ addresses[address]?.description }}</p>
            </button>

            <ion-item-options side="right">
              <button ion-button color="primary" (click)="openSendPage(address)">
                <ion-icon name="send"></ion-icon>
                {{ 'Send' | translate }} {{ network?.token }}
              </button>
              <button ion-button color="danger" (click)="showDeleteConfirm(address)">
                <ion-icon name="trash"></ion-icon>
                {{ 'Delete' | translate }}
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
