page-wallet-receive {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    padding: 0;
    height: 100%;
  }
  .grid {
    padding: 0;
  }
  ion-row {
    flex: 1;
  }
  h6 {
    padding: 1em;
  }
  .button {
    padding: 2em 1em;
  }
}
