<ion-header no-shadow no-border>

  <ion-navbar>
    <ion-title *ngIf="!isSearch">{{ 'DELEGATES_PAGE.DELEGATES' | translate }}</ion-title>
    <ion-searchbar *ngIf="isSearch" [(ngModel)]="searchQuery.username" spellcheck="false" animated="true" showCancelButton="false" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchBar()">
        <ion-icon name="search" *ngIf="!isSearch"></ion-icon>
        <ion-icon name="close" *ngIf="isSearch"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="rankStatus" (ionChange)="onSegmentChange()" [color]="platform.is('ios') ? 'primary' : 'danger'">
      <ion-segment-button value="active">
        {{ 'DELEGATES_PAGE.ACTIVE' | translate }}
      </ion-segment-button>
      <ion-segment-button value="standBy">
        {{ 'DELEGATES_PAGE.STANDBY' | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content tappable>
  <ion-slides #delegateSlider (ionSlideDidChange)="onSlideChanged($event)" *ngIf="delegates">
    <ion-slide class="delegate-list">
      <ion-scroll>
        <ion-list>
          <ion-item no-lines detail-push (click)="openDetailModal(delegate)" tappable nowrap text-left *ngFor="let delegate of activeDelegates | filterBy: searchQuery" class="delegate-item custom-arrow">
            <ion-grid>
              <ion-row>
                <ion-col col-2 text-center><span class="rate">{{ delegate?.rate }}</span></ion-col>
                <ion-col col-8>
                  <span class="username">{{ delegate?.username }}</span>
                  <ion-badge item-end *ngIf="isSameDelegate(delegate?.publicKey)" color="danger">{{ 'DELEGATES_PAGE.VOTED' | translate | lowercase }}</ion-badge>
                </ion-col>
                <ion-col col-2 text-center><span class="percentage">{{ delegate?.productivity | number:0 }}%</span></ion-col>
              </ion-row>
              <ion-row *ngIf="(activeDelegates | filterBy: searchQuery).length === 0">
                <ion-col padding text-center>
                  <h6>{{ 'DELEGATES_PAGE.NO_MATCHING_SEARCH' | translate }}</h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide class="delegate-list">
      <ion-scroll>
        <ion-list>
          <ion-item no-lines detail-push (click)="openDetailModal(delegate)" tappable nowrap text-left *ngFor="let delegate of standByDelegates | filterBy: searchQuery" class="delegate-item custom-arrow">
            <ion-grid>
              <ion-row>
                <ion-col col-2 text-center><span class="rate">{{ delegate?.rate }}</span></ion-col>
                <ion-col col-8>
                  <span class="username">{{ delegate?.username }}</span>
                  <ion-badge item-end *ngIf="isSameDelegate(delegate?.publicKey)" color="danger">{{ 'DELEGATES_PAGE.VOTED' | translate | lowercase }}</ion-badge>
                </ion-col>
                <ion-col col-2 text-center><span class="percentage">{{ delegate?.productivity | number:0 }}%</span></ion-col>
              </ion-row>
              <ion-row *ngIf="(activeDelegates | filterBy: searchQuery).length === 0">
                <ion-col padding text-center>
                  <h6>{{ 'DELEGATES_PAGE.NO_MATCHING_SEARCH' | translate }}</h6>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-scroll>
    </ion-slide>
  </ion-slides>
</ion-content>

<pin-code [wallet]="currentWallet" (onSuccess)="generateTransaction($event)" #pinCode></pin-code>
<confirm-transaction [wallet]="currentWallet" #confirmTransaction></confirm-transaction>
