page-pin-code {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    height: 100%;
  }
  .button-round {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-weight: 700;
    font-size: 20pt;

    &.help-text {
      font-size: 11pt;
    }
  }
}
