page-pin-code {
  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-grid {
    height: 100%;
  }

  .grid-password {
    max-width: 200px;
    margin: 1em auto;
    position: relative;
    display: block;
  }

  .password-char {

    span {
      height: 20px;
      width: 20px;
      border: 2px solid #d0d5d9;
      background-color: transparent;
      border-radius: 100%;
      position: relative;
      display: inline-block;
      text-align: center;
    }

    &.active span {
      border-color: #ed2a2d;
      background-color: #ed2a2d;
    }

  }

  .button-round {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-weight: 500;
    font-size: 22pt;
    border-color: #e6eaee;
    color: #0b1828;

    &.activated {
      color: #0b1828;
      background: #d4e4ef;
    }

    &.help-item {
      color: #b3c1d3;
    }
  }

  .miss {
    -webkit-animation: miss .8s ease-out 1;
    animation: miss .8s ease-out 1;
  }

  @-webkit-keyframes miss {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10% {
      -webkit-transform: translate(-25px, 0);
      transform: translate(-25px, 0);
    }
    20% {
      -webkit-transform: translate(25px, 0);
      transform: translate(25px, 0);
    }
    30% {
      -webkit-transform: translate(-20px, 0);
      transform: translate(-20px, 0);
    }
    40% {
      -webkit-transform: translate(20px, 0);
      transform: translate(20px, 0);
    }
    50% {
      -webkit-transform: translate(-10px, 0);
      transform: translate(-10px, 0);
    }
    60% {
      -webkit-transform: translate(10px, 0);
      transform: translate(10px, 0);
    }
    70% {
      -webkit-transform: translate(-5px, 0);
      transform: translate(-5px, 0);
    }
    80% {
      -webkit-transform: translate(5px, 0);
      transform: translate(5px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }

  @keyframes miss {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    10% {
      -webkit-transform: translate(-25px, 0);
      transform: translate(-25px, 0);
    }
    20% {
      -webkit-transform: translate(25px, 0);
      transform: translate(25px, 0);
    }
    30% {
      -webkit-transform: translate(-20px, 0);
      transform: translate(-20px, 0);
    }
    40% {
      -webkit-transform: translate(20px, 0);
      transform: translate(20px, 0);
    }
    50% {
      -webkit-transform: translate(-10px, 0);
      transform: translate(-10px, 0);
    }
    60% {
      -webkit-transform: translate(10px, 0);
      transform: translate(10px, 0);
    }
    70% {
      -webkit-transform: translate(-5px, 0);
      transform: translate(-5px, 0);
    }
    80% {
      -webkit-transform: translate(5px, 0);
      transform: translate(5px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}
