modal-wallet-backup {

  .col {
    padding: 1.5em 2em!important;
  }

  .list {
    .item-block {
      padding-left: 0;
    }

    margin: .5em 0 0 0;

    .item-value {
      line-height: 1.5;
      margin-top: .3em;
    }
  }

  .advanced-container {

    .advanced-list {
      .item-caption {
        color: rgb(99, 99, 99);
      }
    }
  }

  .account-container {
    background: url('../assets/img/light/wallet/dark-wallet-balance.png') #080e20 repeat;
    background-size: cover;

    .qrcode-container {
      margin-top: .5em;
      display: inline-block;
      padding: .3em;
      background: white;
      border-radius: 5px;
    }

    .account-list {

      .item-caption {
        color: rgb(203, 203, 203);
      }

      .item-value {
        color: white;
      }
    }
  }
}
