<ion-content>
	<div class="transaction-send ion-padding h-full">
		<div class="transaction-send__header flex flex-col">
			<ion-title class="font-bold" size="large">Send ARK</ion-title>
			<div
				class="transaction-send__header__balance flex justify-between items-center"
			>
				<span
					class="transaction-send__header__balance--amount text-medium text-sm font-bold"
				>
					Balance: {{ 2343545783 | unitsSatoshi }}
				</span>
				<ion-button fill="clear" mode="ios" size="small">
					Send all
				</ion-button>
			</div>
			<span class="border-b2 ion-padding h-1 w-full"></span>
		</div>
		<div [formGroup]="transactionForm">
			<div class="mb-5">
				<input-address
					label="TRANSACTIONS_PAGE.ADDRESS_INPUT_LABEL"
					formControlName="address"
				></input-address>
			</div>
			<div class="flex flex-col">
				<ion-label class="text-medium font-semibold text-sm pb-2"
					>{{ "TRANSACTIONS_PAGE.AMOUNT_INPUT_LABEL" | translate }}
					ARK
				</ion-label>
				<div class="flex justify-between">
					<input-currency formControlName="amount"></input-currency>
					<ion-button
						class="ml-2 mr-0 mt-0 transaction-send__button--add"
						color="primary-light"
						mode="ios"
						size="small"
						(click)="addRecipient()"
					>
						Add
					</ion-button>
				</div>
			</div>
		</div>
		<div class="absolute bottom-0 left-0 w-full ion-padding">
			<span class="text-xs font-bold">Recipient list</span>
			<div class="flex items-center justify-between">
				<div>
					<recipient-list-resume
						class="cursor-pointer"
						(click)="toggleBottomDrawer()"
						[recipients]="recipients"
					></recipient-list-resume>
				</div>
				<ion-button
					class="font-semibold"
					mode="ios"
					color="primary-light"
					[disabled]="!recipients.length"
					(click)="createTransaction()"
				>
					Continue
				</ion-button>
			</div>
		</div>
	</div>

	<bottom-drawer
		[isOpen]="isRecipientListOpen"
		[middleOffset]="500"
		[backdrop]="isBackdropEnabled"
		(buttonDrawerOnClose)="toggleBottomDrawer()"
	>
		<div class="ion-padding">
			<div class="transaction-send__bottom-drawer--header flex flex-col">
				<div>
					<span class="font-bold text-xl" size="medium">
						Recipient List
					</span>
					<span class="text-medium text-xl font-bold">{{
						recipients.length
					}}</span>
				</div>
				<span class="text-medium text-sm pb-10">{{
					"RECIPIENT_LIST.DELETE_INSTRUCTIONS" | translate
				}}</span>
				<img
					class="w-full w-16"
					src="/assets/svg/swipe_to_delete_instructions.svg"
				/>
			</div>
			<recipient-list
				[recipients]="recipients"
				(onDelete)="deleteRecipient($event)"
			></recipient-list>
		</div>
	</bottom-drawer>
</ion-content>
