<div
	class="delegate-unvote-banner w-full rounded-lg border p-2 flex items-center justify-between"
>
	<div class="flex flex-col pl-2">
		<ion-text class="text-sm" color="medium">You voted for:</ion-text>
		<ion-text
			data-testid="delegate-unvote-banner__username"
			class="text-lg font-semibold"
			>{{ username }}</ion-text
		>
	</div>
	<ion-button
		data-testid="delegate-unvote-banner__unvote"
		mode="ios"
		color="primary-light"
		(click)="handleClick()"
	>
		{{ "DELEGATES_PAGE.UNVOTE" | translate }}
	</ion-button>
</div>
