<div class="c-auth-locked flex flex-col justify-center h-full">
	<div class="w-3/4 mx-auto flex flex-col items-center">
		<ion-icon
			src="/assets/svg/pin.svg"
			color="danger"
			class="mt-2 mb-4 text-5xl"
		></ion-icon>
		<ion-text color="dark" class="text-xl font-bold text-center">
			{{ "PIN_CODE.WRONG_PIN_MANY_TIMES" | translate }}
		</ion-text>
		<ion-text color="medium" class="mt-1 text-sm">
			{{
				"PIN_CODE.WAIT_TO_TRY"
					| translate
						: {
								time:
									remainingSeconds
									| secondsToTime
									| date: "mm:ss"
						  }
			}}
		</ion-text>
	</div>
</div>
