page-wallet-register-second-passphrase {
  ion-content {
    scroll-content {
      display: flex;
      flex-direction: column;
    }
    ion-grid {
      padding: 0;
      height: 100%;
    }
    .grid {
      padding: 2em 1em;
    }
    .button {
      margin-top: 2em;
    }
    ion-textarea {
      display: block;

      textarea {
        min-height: 80px;
      }
    }
  }
}

.modal-register-second-passphrase {
  position: absolute;
  width: 90%;
  height: 65%;
  top: 20%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
