page-transaction-receive {
  h6 {
    padding: 1em;
  }

  .qrcode-container {
    display: inline-block;
    background: white;
    padding: 1em;
  }

  .button-address {
    padding: 2em 1em;
    text-transform: none;
    letter-spacing: .8px;
    font-size: 11pt;
    font-weight: 200!important;
  }
}
