page-wallet-dashboard {

  .toolbar {
    padding: 0;
  }
  .main-grid {
    padding: 0 .2em!important;
  }
  .grid {
    padding: 0;
  }

  .account-balance {
    background: url('../assets/img/wallet/balance-wallet-bg.png') #080e20 repeat;
    background-size: cover;
    padding: .5em 0 2em 0;
    color: white;
  }
  ion-fab {
    bottom: 20px!important;
    right: 20px!important;
  }
  .tx {
    width: 100%;
    margin: .7em auto;
    box-shadow: none;
    border-bottom: 1px solid #edf2f5;
    .icon-bg {
      margin: 0;
      padding: 0;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .item {
      padding: .5em 0 .5em .5em;
    }
    .label {
      margin: 0;
    }
    .timestamp,
    .type {
      margin-top: .4em;
      font-size: 1.2rem;
    }
    .amount,
    .type {
      font-weight: 500;
    }
    ion-icon {
      padding-left: .2em;
    }
  }
}
