<ion-header>

  <ion-navbar no-border-bottom no-shadow color="primary" class="dark-navbar" [class.delegate]="wallet?.isDelegate">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ wallet?.label ? wallet?.label : (wallet?.address | accountLabel: 'My Wallet' | translate) }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentWalletActionSheet()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-grid>
      <ion-row class="account-balance" [class.delegate]="wallet?.isDelegate">
        <ion-col text-center>
          <p>{{ 'WALLETS_PAGE.BALANCE' | translate }}</p>
          <h1>{{ wallet?.getBalance() | number: '1.0-2' }} {{ network?.symbol }}</h1>
          <h4>{{ marketCurrency?.symbol }}{{ wallet?.getBalanceEquivalent(marketCurrency) | number: '1.0-2' }}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab color="primary" (click)="presentAddActionSheet()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>

  <ion-grid class="main-grid full-height">
    <ion-row justify-content-center align-items-center class="full-height" *ngIf="emptyTransactions">
      <ion-col text-center>
        <h5>{{ 'WALLETS_PAGE.NO_TRANSACTIONS' | translate }}</h5>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!emptyTransactions">
      <ion-col>
        <ion-card *ngFor="let tx of wallet?.transactions" class="tx" (click)="openTransactionShow(tx)">
          <ion-item>
            <h3 *ngIf="tx.isTransfer()" class="type">{{ tx?.getTypeLabel() | translate }}</h3>
            <h3 class="address">{{ (tx?.isTransfer()) && (tx?.senderId | accountLabel | truncateMiddle: 12 : tx?.senderId) || (tx?.getTypeLabel() | translate) }}</h3>

            <div text-right item-end>
              <h3 class="amount">{{ tx?.isSender() ? '-' : '+' }}{{ tx?.getAmount() | unitsSatoshi | number: '1.0-2' }} {{ network?.symbol }}</h3>
              <p class="timestamp">{{ tx?.date | date: 'MMM dd, hh:mm a' }} | {{ (tx?.confirmations <= minConfirmations) && tx?.confirmations || minConfirmations+'+' }}</p>
            </div>
            <ion-icon *ngIf="tx?.isSender()" item-end name="ios-arrow-round-up" class="icon-rotate-right" style="color: red"></ion-icon>
            <ion-icon *ngIf="!tx?.isSender()" item-end name="ios-arrow-round-down" class="icon-rotate-right" style="color: green"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
