<ion-list>
  <ion-item class="address-item" *ngFor="let item of map">
    <div class="circle-letter" [class.highlight]="item.highlight" slot="start">
      {{ item[circleProperty].charAt(0) }}
    </div>

    <ion-label (click)="tap(item.index)" (press)="press(item.index)">
      <h3 class="address-key">{{ item.key }}</h3>
      <p class="address-value">{{ item.value }}</p>
    </ion-label>

    <ion-button
      slot="end"
      fill="clear"
      class="more disable-hover"
      *ngIf="icon"
      (click)="more(item.index)"
    >
      <ion-icon slot="icon-only" [name]="icon"></ion-icon>
    </ion-button>
  </ion-item>
</ion-list>
