:host {
	.avatar {
		@apply w-12 h-12 mr-4 rounded-full flex justify-center items-center font-bold text-lg;
		background-color: var(--ion-color-light-shade);
		color: var(--ion-color-light-contrast);

		&.highlight {
			background-color: var(--ion-color-danger);
			color: var(--ion-color-danger-contrast);
		}
	}
	.item-title {
		@apply text-lg !important;
	}
	.item-subtitle {
		@apply text-base !important;
	}
}
