.layout-flex {
  flex: 1;
}

.list,
form,
.card {
  background: none;

  ion-item-sliding {
    background: color($colors, primary-background, base);

    &.active-slide .item {
      background: color($colors, primary-background, base);
    }
  }

  .item:not(.item-divider) {
    background: transparent;
  }
}

form {
  .item {
    padding-left: 0;
  }
}

.header .toolbar-background {
  background: none;
  border: none;
}

.list .icon,
.menu-inner .icon,
.action-sheet-icon {
  color: color($colors, primary, base);
  -webkit-text-stroke: .4px color($colors, primary, base);
}
