ion-modal[class^="inset-modal"] {
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;

  .modal-wrapper {
    overflow: hidden;
    border-radius: 10px!important;
  }

}

ion-modal.inset-modal-small {
  padding: 25vh 15vw;
}

ion-modal.inset-modal {
  padding: 20vh 10vw;
}

ion-modal.inset-modal-large {
  padding: 10vh 5vw;
}
