body.keyboard-is-open .hide-on-keyboard-open {
  display: none;
}

body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}


.md ion-list > .item:first-child,
.md ion-list > .item-wrapper:first-child .item,
.wp ion-list > .item:first-child,
.wp ion-list > .item-wrapper:first-child .item,
.ios ion-list > .item:first-child,
.ios ion-list > .item-wrapper:first-child .item {
  border-top: none;
}

.md ion-list > .item:last-child,
.md ion-list > .item-wrapper:last-child .item,
.wp ion-list > .item:last-child,
.wp ion-list > .item-wrapper:last-child .item,
.ios ion-list > .item:last-child,
.ios ion-list > .item-wrapper:last-child .item {
  border-bottom: none;
}

.no-valiadte .item-input.ng-valid.input-has-value::after,
.no-valiadte .item.ng-valid.input-has-value::after {
  border-bottom-color: transparent;
}
