:host {
	ion-content {
		--offset-top: 20rem !important;
	}

	.x {
		--min-height: 20rem;
	}

	.profiles__header-balance {
		will-change: transform;
		transition: all 0.1s;
		@apply absolute;
		left: 0;
	}

	ion-header.header-collapse-condense-inactive {
		.profiles__header-balance {
			top: -100%;
		}
	}
}
