:host {
  ion-toolbar {
    --background: transparent;
    --ion-toolbar-color: #fff;

    ion-menu-button,
    ion-button,
    ion-icon {
      --color: #fff;
    }
  }

  ion-header {
    // background: color($colors, secondary-background, base);
    background-size: cover;

    &.default-wallet {
      background-image: url('/assets/img/light/wallet/wallet-balance.png');
    }

    &.delegate-wallet {
      background-image: url('/assets/img/light/wallet/delegate-balance.png');
    }

    .dark-navbar > .toolbar-background {
      background-color: transparent;
    }
  }

  .stats-toolbar {
    min-height: 146px;
  }

  .tx {
    width: 100%;
    margin: .7em auto;
    box-shadow: none;
    // border-bottom: 1px solid darken(color($colors, primary-background, base), 5%);

    .icon-bg {
      margin: 0;
      padding: 0;
      img {
        width: 60px;
        height: 60px;
      }
    }

    .item {
      padding: .5em 0 .5em .5em;
    }

    .label {
      margin: 0;
    }

    .timestamp,
    .type {
      margin-top: .4em;
      font-size: 1.2rem;
    }

    .amount,
    .type {
      font-weight: 500;
    }

    ion-icon {
      padding-left: .2em;
    }
  }
}

:host-context(.dark-theme) {
  ion-refresher * {
    color: #fff;
    stroke: #fff;
  }

  ion-header {
    &.default-wallet {
      background-image: url('/assets/img/dark/wallet/wallet-balance.png');
    }

    &.delegate-wallet {
      background-image: url('/assets/img/dark/wallet/delegate-balance.png');
    }
  }
}
