<ion-header no-shadow no-border [ngClass]="{'delegate-wallet': wallet?.isDelegate, 'default-wallet': wallet ? !wallet.isDelegate : false}">

  <ion-toolbar no-border-bottom no-shadow>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{ wallet?.username || wallet?.label || ('WALLETS_PAGE.MY_WALLET' | translate) }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentWalletActionSheet()">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top>
    <ion-grid>
      <ion-row class="stats-toolbar mt-2 mb-4 flex flex-col justify-center items-center">
        <h1 class="text-2xl font-bold my-2">{{ network?.symbol }} {{ wallet?.getBalance() | number: '1.0-8' }}</h1>
        <h4 class="text-lg font-semibold" appMarketNetOnly>{{ marketCurrency?.symbol }}{{ (wallet?.getBalanceEquivalent(marketCurrency) | marketNumber) || 0 }}</h4>
        <p (click)="copyAddress()" tappable class="toolbar-address flex items-center mt-3 opacity-75">
          <ion-icon name="copy" class="mr-1"></ion-icon>
          {{ wallet?.address }}
        </p>
        <ion-badge class="watch-only-badge" color="medium" *ngIf="wallet?.isWatchOnly">
          {{ 'WATCH_ONLY' | translate }}
        </ion-badge>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'PULL_REFRESH' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="presentAddActionSheet()">
      <ion-icon  [name]="platform.is('ios') ? 'ios-add' : 'md-add'"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="h-full">
    <ion-row class="h-full flex items-center justify-center" *ngIf="emptyTransactions">
      <ion-text color="dark">
        <h5 class="text-lg font-semibold">{{ 'WALLETS_PAGE.NO_TRANSACTIONS' | translate }}</h5>
      </ion-text>
    </ion-row>

    <ion-row *ngIf="!emptyTransactions">
      <ion-col>
        <ion-card *ngFor="let tx of wallet?.transactions" class="tx" (click)="openTransactionShow(tx)">
          <ion-item>
            <h3 *ngIf="tx.isTransfer()" class="type">{{ tx?.getActivityLabel() | translate }}</h3>
            <h3 class="address">{{ (tx?.isTransfer()) && (tx?.getAppropriateAddress() | accountLabel | truncateMiddle: 12 : tx?.getAppropriateAddress()) || (tx?.getTypeLabel() | translate) }}</h3>

            <div class="ion-text-right" slot="end">
              <h3 class="amount">{{ tx?.isSender() ? '-' : '+' }}{{ tx?.getAmount() | unitsSatoshi }} {{ network?.token | uppercase }}</h3>
              <p class="timestamp">{{ tx?.date | timezone | timestampHuman }} | {{ (tx?.confirmations <= minConfirmations) && tx?.confirmations || minConfirmations+'+' }}</p>
            </div>
            <ion-icon *ngIf="tx?.isSender()" slot="end" name="ios-arrow-round-up" class="icon-rotate-right" style="color: red"></ion-icon>
            <ion-icon *ngIf="!tx?.isSender()" slot="end" name="ios-arrow-round-down" class="icon-rotate-right" style="color: green"></ion-icon>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<pin-code [wallet]="wallet" (onSuccess)="onEnterPinCode($event)" #pinCode></pin-code>
<confirm-transaction [wallet]="wallet" #confirmTransaction></confirm-transaction>
