<section class="p-4">
	<div class="rounded-r-md p-2 mb-4 px-4 -ml-4 bg-light w-auto inline-block">
		<span class="text-medium-shade text-xs font-medium"
			>Total transfer amount</span
		>
		<h1 class="text-xl font-semibold text-dark">435.43 ARK</h1>
	</div>

	<ul class="space-y-5">
		<li>
			<p class="text-medium text-sm font-medium">Sender</p>
			<p class="font-semibold">Test</p>
		</li>
		<li>
			<p class="text-medium text-sm font-medium">Recipient</p>
			<p class="font-semibold">Test</p>
		</li>
		<li>
			<p class="text-medium text-sm font-medium">Fee</p>
			<p class="font-semibold">0.432</p>
		</li>
	</ul>
</section>
